[2016-03-08 16:42] fabricehong opened #2 "NullPointerException while parsing jsonapi object"
hi

my json object look like :
[code]

I have a NullPointerException in ResourceConverter class. in method "setIdValue", idValue is null at line : "idField.set(target, idValue.asText());"

Debuging the method readObjectCollection in ResourceConverter, I saw that while looping over the properties of the data element,
the readObject method used here expect the source ton contain a json container wit

[2016-03-08 18:09] jasminb commented on #2
Hello,

Reason for the `NPE` is a fact that you are using `readObjectCollection` instead of `readObject`;

`readObjectCollection()` is expecting a collection of elements to be present:

[code]

If you switch to `readObject` method, it should work fine.

[2016-03-09 09:07] fabricehong commented on #2
Hi,

I'm not using readObjectCollection by myself, JSONAPIResponseBodyConverter is doing it.

I'm initializing retrofit this way :

[code]

as suggested in the README.md

my Offer object, is something like that:

[code]

should I init retrofit differently ?

[2016-03-09 09:14] jasminb commented on #2
Hey,

Do you mind sharing your retrofit service interface?

It looks like you defined a method in your service stub that expects `List<YourType>` as result and it should be `YourType` instead.

[2016-03-09 09:20] fabricehong commented on #2
my bad sorry. My interface didn't match the json :

[code]

while it should be

[code]

I suggest to check for type of the jsonelement, and throw an addequate exception if it's expecting a list while it's not

thanks a lot for your very fast support

[2016-03-09 09:22] jasminb commented on #2
No problem at all, I've already pushed change to develop that validates inputs and throws exceptions in case data being parsed is not matching expected inputs.

[2016-03-09 09:22] #2 closed

[2016-03-09 16:31] fabricehong opened #3 "relationship of included data is null"
Hi

the following example is not parsed correctly :
[code]

the office.responsible_person relationship will be null.

While parsing the object 'office' in method ResourceConverter.parseIncluded, it will call readObject to create office object with '(Map)null' as cache parameter. Having a null cache, 'handleRelationships' method won't be called to fill the object's relationships. even it a cache wo

[2016-03-09 19:36] shanemmurphy30 opened #4 "Does not handle "data": null"
I experience an exception when a relationship has a null data field.

Example
 relationship: {"links":{"self":"http://www.test.com","related":"http://www.test.com"},"data":null}

Exception:
Attempt to invoke virtual method 'java.lang.String com.fasterxml.jackson.databind.JsonNode.asText()' on a null object reference

It seems to treat data value as a string "null" and not as null value.

[2016-03-09 22:17] jasminb commented on #3
Hello,

You are correct, I will push a fix to support relationships in `included` resources.

[2016-03-09 22:20] jasminb commented on #4
Hello,

It appears I missed it in the spec, it states that relationship can exists with either links or data nodes. I will fix the issue.

Thanks for reporting it,
Jasmin

[2016-03-11 08:29] bartoslaw commented on #3
hey, how is it going with this issue? :) maybe you have some rough implementation, i'll be glad to help

[2016-03-11 08:34] bartoslaw commented on #4
hey, we came across the same bug, for now we're using this workaround:

[code]

please keep in mind that it's just a temporary workaround, didn't have time yet to work on proper solution :)

[2016-03-11 09:02] fabricehong commented on #3
Hi, I need to have that issue fixed today in my code. So same situation here :) either I make a quick fix, in my side, either I take your fix.
@bartoslaw : did you fork the repo somewhere so I can maybe use your fix ?
@jasminb : Do you have an idea when the fix will be pushed ?. I'd be glad to also contribute. I would just need to know we you synchronize to avoid fixing the same issues

bests

[2016-03-11 09:13] jasminb commented on #3
Hey,

I will fix it today.

Jasmin

[2016-03-11 10:14] bartoslaw commented on #3
@fabricehong unfortunately not yet ;)
@jasminb great, and just wanted to say thanks for this awesome lib! not enough android-friendly implementations of jsonapi parsers... (katharsis is such an overkill)

[2016-03-11 14:00] jasminb commented on #3
Hey again,

Issue is fixed and pushed to develop.
Please give it a try and let me know.

Regards,
Jasmin

[2016-03-11 14:36] jasminb commented on #4
Hello again,

I've fixed the issue and pushed to `develop`.

Relationship objects will be validated before parse attempt is made.

In case relationship is missing 'data' node or `data` node is missing either `id` or `type`, relationship will be skipped.

Please have in mind that in case relationship is missing `data` node but does have `links` node with `self` populated, and relationship `resolver

[2016-03-13 12:46] fabricehong commented on #3
yep it works well !
thanks !

[2016-03-13 15:34] #3 closed

[2016-03-13 15:35] #4 closed

[2016-03-14 13:28] fabricehong opened #5 "Errors parsing"
Hi

the error handling seems to be not implemented yet. Is it something you planned ?

http://jsonapi.org/format/#errors

[2016-03-14 13:37] jasminb commented on #5
Hello,

You are correct. Error responses are not handled currently.

I will add it as soon as possible.

Regards,
Jasmin

[2016-03-14 15:58] ghn opened #6 "Maven package"
Hello,
nice work. It'd be great to have this package pushed on maven central repository :+1:

[2016-03-14 16:02] jasminb commented on #6
Hey,

I've already opened JIRA ticket on Sonatype in order to get the group id approved and start the process of publishing. Will update this ticket when the process is completed.

Regards,
Jasmin

[2016-03-14 20:31] jasminb commented on #5
Hey,

I've pushed initial error handling implementation.

Please see updated README file for details on how to use it with Retrofit.

Regards,
Jasmin

[2016-03-15 09:27] fabricehong opened #8 "JSONAPIConverterFactory cannot support Retrofit to have multiple converters"
Hi,

As defined by Retrofit Converters, if a factory cannot handle the given type, fromResponseBody and toRequestBody it should return null so other factories can be tried : https://github.com/square/retrofit/blob/master/retrofit/src/main/java/retrofit2/Converter.java

Since some of the responses I need to parse doesn't follow jsonapi, my only way to cope with that is to have a second retrofit obj

[2016-03-15 09:43] jasminb commented on #8
Hey,

So, you would expect that check is made if passed type is registered with JSON API converter, and if not, to return `null` instead?

[2016-03-15 14:23] jasminb commented on #8
I've pushed code changes that correctly handle `unknown` types.

In case unknown type is encountered, factory will return `null` instead of returning JSON API converter that will produce exception if used.

I've also added convenience method that allows registering `alternative` factory to be used in case JSON API converter factory is unable to handle incoming conversion request.

[2016-03-15 15:39] jasminb commented on #6
Project is available on maven central, to use it:

[code]
<dependency>
  <groupId>com.github.jasminb</groupId>
  <artifactId>jsonapi-converter</artifactId>
  <version>0.2</version>
</dependency>
[code]

[2016-03-15 15:39] #6 closed

[2016-03-15 15:47] saigyo commented on #6
Cool!
Keep up the good work!

[2016-03-15 17:02] fabricehong commented on #8
great, now works well and I'm able to provide multiple converters to Retrofit.

thx !

[2016-03-15 17:15] fabricehong commented on #5
It works well. ErrorUtils is very handy.

However, the Error class conflicts with java.lang.Error. As a consequence, the whole package name have to be written in every declarations.

[2016-03-15 17:46] jasminb commented on #5
I don't see a problem with naming. Usually `java.lang.Error` is not caught in catch blocks (should not go above `Exception`).

Regards,
Jasmin

[2016-03-15 17:46] #5 closed

[2016-03-15 17:46] #8 closed

[2016-03-16 08:40] fabricehong commented on #5
you're right. I was an IDE problem.
thx

[2016-03-17 17:07] fabricehong opened #9 "Meta information"
Hi

Are you planning to implement the parsing of the meta information node ?

http://jsonapi.org/format/#document-meta

thanks

[2016-03-18 09:20] fabricehong commented on #9
Hi Jasmin. I need to deliver this today. I will do it and make you a pull request if you want

[2016-03-18 09:23] jasminb commented on #9
Hey,

I was planning to add support for meta over the weekend.
You are more than welcome to create a pull request wit the future added.

Regards,
Jasmin

[2016-03-18 10:32] fabricehong commented on #9
Alight, I made a pull request ! please read the comment of the PR

[2016-03-18 12:13] fabricehong opened #11 "collect annotated fields also from super classes"
what would greatly improve the library's flexibility to be able to define common annotated fields in a superclass.

usefull for ids (and meta if available)

something like that in ReflectionUtils:

[code]

[2016-03-21 22:24] amanique opened #12 "Parse jsonapi requests"
In the short documentation of this lib, it says that it can be used for "request/response", although i believe, and please correct me if i'm wrong, that it's only for parsing jsonapi responses. Are you planning on implementing request parsing as well? Thanks

[2016-03-21 22:51] jasminb commented on #12
Hey,

`ResourceConverter.writeObject(...)` will serialise properly annotated model class into `byte []` which than can be sent as a request.

`Relationship` annotation has `serialise` flag which is used to control relationship serialisation.

[2016-03-21 23:24] amanique commented on #12
I'm sorry but when using Retrofit requests like this:

interface services {
  @POST("/endpoint")
  Call<User> getUser(@Body User.Request request);
}

I'm not getting the @Body User.Request class serialized into JSON format using your convertedFactory.
I can do it with JacksonConverterFactory although, but this way i can't parse the User response into jsonapi format using your lib. Is either one or

[2016-03-21 23:31] jasminb commented on #12
Hey again,

Can you please provide full example on how you are creating resource converter and how does your model class looks like. You can omit data that you cannot disclose.

Regards,
Jasmin

[2016-03-22 10:22] amanique commented on #12
Hi,

Thanks in advance!
OK, i have a class for making a request in simple json format:

public static class Request implements ServiceCallRequest {

        @JsonProperty("client_id")
        private String client_id = Settings.config.clientId;

        @JsonProperty("client_secret")
        private String client_secret = Settings.config.clientSecret;

        @JsonProperty("grant_type")
        p

[2016-03-22 11:04] jasminb commented on #12
Hey,

Your problem is a fact that you are not registering your model class with the `JSONAPIConverterFactory`.

Instead of what you are currently doing, you should:

[code]

Please read the README.md, it provides all the details on how to write your model classes and annotate them properly.

Regards,
Jasmin

[2016-03-22 11:49] amanique commented on #12
I had already tried that, but the app crashes when trying to instantiate Retrofit with a class non jsonapi.
Meaning:

If i do this:

private static JSONAPIConverterFactory getJsonapiConverterFactory() {
    JSONAPIConverterFactory jsonapiConverterFactory = new JSONAPIConverterFactory(objectMapper, Request.class);
    jsonapiConverterFactory.setAlternativeFactory(jacksonConverterFactory);
    retur

[2016-03-22 12:09] jasminb commented on #12
Request class must be annotated with `Type` annotation and it must have an `id` field annotated with `Id` annotation.

[2016-03-23 10:40] bartoslaw commented on #11
+1

[2016-04-06 18:48] #12 closed

[2016-04-06 18:48] #9 closed

[2016-04-11 12:54] anandshah123 opened #14 "Add support for attribute rename"
[code]

This should generate json

[code]

instead of

[code]

[2016-04-11 13:16] anandshah123 commented on #14
Figured out that
[code]

This will work as we are using jackson internally.
Closing.

[2016-04-11 13:16] #14 closed

[2016-04-13 15:41] fabricehong opened #15 "Meta field with data being a collection"
Hello,

it seems impossible to me to parse meta information when the json data is a collection.

How to parse meta info for a JSON such as :

[code]

Do you see a solution ?

cheers

[2016-04-13 16:35] jasminb commented on #15
Hey,

Simple solution would be to have redundant meta on each collection element.

One could define meta attribute on collection type and than change collection conversion logic to set meta object to each of the elements.

Jasmin

[2016-04-13 17:28] fabricehong commented on #15
That's a possible solution. But the server sending an empty array of object doesn't mean that it won't send valuable meta information.

Actually your solution fits my usecase.. And since it seems there is no easy solution to this, I could implement it as a temporary solution, and make a PR

[2016-04-14 07:13] jasminb commented on #15
Hey,

Will need to give this some more thought.

Regards,
Jasmin

[2016-04-16 18:15] tschaka1904 opened #16 "Type annotation doesn't allow name"
Hi,

I don't know why, but I can't give `@Type` a name like `@Type(name = "MyClass")`. It only allows me `@Type("MyClass")`, but it seems like that it doesn't work. :(

Thanks,
Max

[2016-04-16 22:46] jasminb commented on #16
Hello,

`Type` annotation has only one parameter which is to specify the type name.

Name can be specified in following manner:

[code]

[2016-04-17 08:28] tschaka1904 commented on #16
Cheers!

[2016-04-17 08:28] #16 closed

[2016-04-19 02:24] chrisolsen opened #17 "v0.3 tag"
Is the v0.3 release tag purposely missing or just forgotten?

[2016-04-19 07:10] jasminb commented on #17
Hey,

Release 0.3 did not happen yet, hence no tag.

Kind regards,
Jasmin

[2016-04-19 08:02] #17 closed

[2016-04-19 12:11] tschaka1904 opened #18 "How to annotated a one to many relationship?"
Hi,

how do I have to annotate a one to many relationship?

Thanks,
Max

[2016-04-19 13:19] jasminb commented on #18
Hello,

If object `A` has many `B` objects, you would add a field to `A` object that would be `java.util.List<B> objects`.

Added attribute needs to be annotated with `@Relationship(name = "relationship_name")` annotation.

Please see README file for more detailed example.

Kind regards,
Jasmin

[2016-04-19 22:37] faeronsayn opened #19 "Can't add JSONAPIConverterFactory to retrofit"
I'm using the following code

[code]

Essentially the way it's done in the readme.

However there is a type mismatch error

[code]

I'm using retrofit 2.0.1 and jsonapi-converter 0.2. I wonder if the apis have changed since the example in the readme or am I just missing something here?

Any ideas?

[2016-04-19 23:25] faeronsayn commented on #19
Seems like this is not updated for retrofit2? Because it's importing `retrofit.Converter` instead of `retrofit2.Converter` here.

https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/github/jasminb/jsonapi/retrofit/JSONAPIConverterFactory.java#L7

Should I make a pr with a fix?

[2016-04-21 09:35] tschaka1904 opened #20 "@Relationship complains about 'name' attribute"
Hi,

the @Relationship doesn't allow the 'name' attribute. But it allows value.

Cheers,
Max

[2016-04-21 10:20] jasminb commented on #20
Hey,

Sorry for that one, will update the README file.

Kind regards,
Jasmin

[2016-04-21 10:24] jasminb commented on #20
README fixed.

[2016-04-21 10:24] #20 closed

[2016-04-26 19:43] emetsger opened #21 "Link resolution"
This is a question more than an issue-

`ResourceConverter.handleRelationships(...)` only considers the `self` link when attempting resolution.  However, I am working with some JSON relationships that look like:

    "relationships": {
                "files": {
                    "links": {
                        "related": {
                            "href": "http://osf:8000/v2/nodes/mrusa/f

[2016-04-26 19:53] emetsger opened #22 "ResourceConverter.handleRelationships(...) does not support the object representation of a link"
The JSON API [spec](http://jsonapi.org/format/#document-links) allows for two representations of a link:

The current implementation of `handleRelationships(...)` only handles the first representation - the string representation.  Links represented as objects are not supported.

[2016-04-26 19:55] emetsger commented on #21
I should say that if we arrive on the proper behavior, I'm happy to submit a PR!

[2016-04-26 20:11] emetsger commented on #21
For my part, you can see a gist of my model class and resolver implementation [here](https://gist.github.com/emetsger/b89d3142174c65306e99cd6006fd9a09), which I suspect is a typical vanilla implementation.  The gist also contains the example relationship object I'm trying to parse.

[2016-04-26 21:45] jasminb commented on #21
Hey,

We could approach this with adding additional property into relationship annotation that would instruct the parser what link to consume when resolving relationship.

In case instruction is not specified, parser could be changed in a way to attempt one and than another if present (self/related).

Regards,
Jasmin

[2016-04-26 21:48] #18 closed

[2016-04-27 09:21] amanique opened #24 "Custom Object inside attributes is not parsed, it only allows String or List<String>"
Hello,

I have an custom object inside attributes, which is not a relationship, that i can't parse.
If the variable is not a String or a List<>String>, is not parsed and returns null.
I give you an example:

JSON:

`{
    data: {
        id: 1,
        type: countries,
        attributes: {
            name: "France",
            capital: "Paris",
            location: {
                latitude:

[2016-04-27 10:18] jasminb commented on #24
Hello,

Deserialisation/serialisation will work for objects of any complexity. Please check your classes/responses to make sure there't any typos or similar.

If you can provide exact responses, classes used and example on how the converter is instantiated I can provide more help.

Kind regards,
Jasmin

[2016-04-27 13:26] emetsger commented on #21
Yes, that is what I was thinking. In fact, the 'resolve' attribute could be
changed from a boolean to the type of the link (self/related). I'm not sure
how palatable that would be, though, if you are concerned about backwards
compatibility.

On Tuesday, April 26, 2016, Jasmin Begic <notifications@github.com> wrote:

[2016-04-27 13:35] jasminb commented on #21
I would keep `resolve` in order not to break backwards compatibility. New property named `resolutionType` should be introduced that lets one choose between `ResolutionType.SELF` and `ResolutionType.RELATED` options.

Converter can be changed so if `resolutionType` is present, `resolve` flag is ignored (so its usage is not forced).

Only problem remaining would be what if `resolve` is present but t

[2016-04-28 09:21] amanique commented on #24
Hello thanks for the reply.
I'm sorry but i must call your attention again that this is not a relationship object, it's object inside attributes. Everything works fine on the example i gave you, name is parsed, capital is parsed, but location remains null.

[code]

[2016-04-28 10:45] joaofyz opened #25 "How to handle class hierarchy?"
Hi there,

How can we handle a situation where we want to receive a collection of objects, but with different sub-types? For instance a list of vehicles where we have, cars, bikes, trucks...

All the vehicles should have the same type: vehicle and we add an attribute "vehicle_type" or each one should have a different type (car, bike, truck)?

How can we handle each of the previous approaches with

[2016-04-28 10:57] jasminb commented on #25
Hello,

This is not related to the JSONAPI spec but rather to jackson library.

http://wiki.fasterxml.com/JacksonPolymorphicDeserialization

Regards

[2016-04-28 11:11] jasminb commented on #24
Here is what i tried, and it works perfectly:

Input:

[code]

Class:

[code]

Usage:

[code]

[2016-04-28 15:46] emetsger commented on #21
I would propose to call the new attribute `relType` (for relationship type) instead of `resolutionType`, what do you think?
* `relType = RelType.RELATED`
* `relType = RelType.SELF`

The type of the `relType` attribute should be a `String`, I think, to allow any kind of relationship type.  But of course have constants for `RELATED` and `SELF`.

If `relType` attribute is present on the `@Relationshi

[2016-04-28 16:02] jasminb commented on #21
Im thinking about deprecating 'resolve' and than removing it after in the release after next.

As for using `String` for the relType, I don't like it, constant wont help since it wont be obvious to the users.

Agree on the handling combo of resolve = true and missing relType.

[2016-04-28 16:07] emetsger commented on #21
+1

Ok, I was just considering the use case of modeling a custom relationship type that isn't "self" or "related".  I'm not sure if that's a valid use case or not.

+1

[2016-04-29 09:16] jasminb commented on #11
Support for inheritance added and pushed to dev, for trying it out, use current SNAPSHOT release from Sonatype snapshot repo (https://oss.sonatype.org/content/repositories/snapshots).

[2016-04-29 09:16] #11 closed

[2016-04-29 10:40] jasminb commented on #21
Hey,

Just wondering if you were gonna tackle this one or should I implement it?

Regards

[2016-04-29 12:20] joaofyz commented on #25
Thanks jasminb for your answer.

I was able to solve my problem with the @JsonTypeInfo and @JsonSubTypes annotations.

The only issue I identified was the need to have always de @Id annotation and field in every class even if it already exists in the Super class.

[2016-04-29 12:22] jasminb commented on #25
Hey,

I've pushed a change today that solves the inheritance issue you are referring to.
If you use SNAPSHOT version of the library, it will work with inherited @Id field.

Regards

[2016-04-29 12:25] emetsger commented on #21
I should have a PR to submit in the next couple of hours!  Working on the
test!  Thanks :)

On Friday, April 29, 2016, Jasmin Begic <notifications@github.com> wrote:

[2016-04-29 13:23] fabricehong opened #26 "Retrofit2 binding / dependency"
Hi

We just bumped our retrofit version to the latest. The latest version is not retro-compatible (so they also changed the package names from retrofit to retrofit2).

Since jsonapi-converter is bound to the previous retrofit version, I had to recreate the retrofit dependant classes :
- ErrorUtils
- JSONAPIConverterFactory
- JSONAPIRequestBodyConverter
- JSONAPIResponseBodyConverter

If you wanna

[2016-04-29 13:26] joaofyz commented on #25
I do not use the SNAPSHOT version but I think you can close this issue.

Thanks for your help

[2016-04-29 13:26] #25 closed

[2016-04-29 14:00] emetsger commented on #21
This is what I have so far:
https://github.com/emetsger/jsonapi-converter/tree/reltype-resolution

Essentially `testLinksAsObjects` and `testResolveRelType` are the same test.  So they could be merged into a single unit test if you're ok with that.

It's tricky to test these different conditions against a single instance of a model, so I was thinking a longer-term solution may be to use something

[2016-04-29 14:06] jasminb commented on #21
Hey,

Please rebase to latest dev, to avoid conflicts later on.

As for `relType`, taught we agreed on using an `Enum`?

Will check out modello :)

Regards

[2016-04-29 14:10] emetsger commented on #21
@jasminb yes, I'll make it enum, and rebase!  I just updated my comment with things I think that still need doing.  I can take a stab at a branch that uses modello to generate your existing model, too.

[2016-04-29 14:12] jasminb commented on #21
Sure, if using Modello makes it more simple/easier to maintain, im all for it.

[2016-04-29 14:36] emetsger commented on #21
Ok, faeb60 rebased on develop, and updates to using a RelType enum, let me know if I went overboard making it a stand-alone enum with the `getRelName()` method.

I can collapse the `testResolveRelType()` and `testLinksAsObjects()` tests if you like, and submit an official PR...

[2016-04-29 14:46] jasminb commented on #21
Sure thing, you can collapse and submit PR.

[2016-04-29 19:09] amanique commented on #24
OK You are right, it worked. The problem was that the object had a private scope.
I tested with public and it worked, and then i tried private and a public setLocation() and it worked as well.
Maybe you would like to point this in the documentation.
Thank you.

[2016-04-29 21:45] jasminb commented on #24
Hey,

Will update README with reference to jackson documentation.

Regards

[2016-04-29 21:45] #24 closed

[2016-04-29 21:46] jasminb commented on #19
Hey,

Sorry for the late reply. I will update the dependency to he 2.x.x retrofit and do the necessary code changes required.

Regards

[2016-04-30 22:36] emetsger opened #28 "Recursive loops may occur during resolution"
Models may introduce loops when resolving relationships:

@Type(...)
class Node {
  @Relationship(...)
  Node parent;
  // etc.
}

If the JSON for this Node has a parent relationship pointing to itself, the stack blows.

Even if the author makes poor modeling decisions, probably some protections should be put in place to avoid blowing the stack.

[2016-05-04 14:30] emetsger opened #30 "Relationship parsing logic relies on optional resource linkage"
In RelationshipResolver, the method `isCollection(JsonNode)` is used _a priori_ to determine whether or not the a relationship link will return an array or an object.

`isCollection(JsonNode)` introspects on the relationship object and uses the resource linkage as hint (resource linkages for relationships must properly represent to-many relationships as arrays, and to-one relationships as objects)

[2016-05-04 14:31] emetsger commented on #30
69b1945 contains a unit test demonstrating the issue.

[2016-05-06 16:25] emetsger opened #31 "Eager vs Lazy resolution of relationships"
The current behavior of the JSON-API Converter when resolving relationships is to resolve them eagerly, and recursively.

If you have a model that represents a hierarchy of objects that is arbitrarily deep, resolving a single object in that hierarchy will result in recursivly resolving all of the nodes below it.

For example, retrieving an instance of Node, below, may result in traversing a hierar

[2016-05-06 16:35] jasminb commented on #31
Hey,

I've considered lazy loading already. Having in mind that lib is used for android dev also and networking restrictions that come with it, executing lazy resolution becomes really tricky.

[2016-05-06 16:54] emetsger commented on #31
Hey @jasminb, so I put together a proposed approach:

  @Type("foo")
  class Foo {
        @Id
        String id;

  	@Relationship(value = "...", resolve = true, strategy = ResolutionStrategy.REF)
        String relRef;
  }

If the `@Relationship` uses a `strategy` of `ResolutionStrategy.REF`, the url of the relationship is stored instead of resolving and deserializing the response document.

If

[2016-05-10 10:35] jasminb commented on #28
@emetsger will take a look at this

PS
Sorry for late reply, was on vacation for a week

[2016-05-10 12:13] emetsger commented on #28
@jasminb no apologies necessary, everyone needs a break once in a while!

[2016-05-13 13:11] emetsger opened #33 "Pagination of primary data not supported"
It seems pagination of primary data is not supported; this is because `readObjectCollection` returns `List<T>` - the return type is not able to expose pagination links (or `meta` information, for that matter).

The JSON below represents paginated primary data.  The total size of the primary data is `m` but only `n` results are returned:

    {
        "data": [
            {
              // objec

[2016-05-13 13:26] emetsger commented on #33
Here are a couple of proposals to handle this.  What do you think?

### Supply a `List` factory to `ResourceConverter`

The `ResourceConverter` uses a factory interface for producing the `List` instances that are returned by `readObjectCollection`.  The factory interface provides access to the top-level `links` and `meta` so the caller can return a custom `List` implementation.  If the caller does

[2016-05-13 13:30] jasminb commented on #33
Hey, similar problem is also present with meta, where it is not possible to expose it without having some kind of collection wrapper.

So, instead of having `PaginatedList`, something like `ResourceCollection` class could be implemented that would allow exposing both pagination and meta objects.

[2016-05-13 13:33] emetsger commented on #33
Ok, thanks, I'll take a look at it!

[2016-05-13 13:33] #22 closed

[2016-05-13 13:34] #21 closed

[2016-05-13 13:49] jasminb commented on #28
Been thinking about the issue and did review your resolution proposal.

I am thinking inline of having `ThreadLocal` cache that would be available trough entire response parsing lifecycle. This means that parser would reuse already parsed objects, eg:

If `A` is parsed once (`A` is identified by `id` and a `type`), it would be pushed to cache.

When relationship is resolved and `JSON` object is re

[2016-05-13 15:21] jasminb commented on #28
https://github.com/jasminb/jsonapi-converter/pull/34

[2016-05-13 17:42] emetsger commented on #28
Thanks for considering my approach!  Using a `ThreadLocal` is fine with me!  Many thanks!

[2016-05-13 20:12] emetsger opened #36 "Null pagination links represented as "null" instead of a null object."
The JSON `null` value carries semantics, as in [pagination](http://jsonapi.org/format/#fetching-pagination) links:

[code]
Currently a `null` link value will be represented as the string "null" instead of a `null` object reference.

[2016-05-14 19:18] jasminb commented on #28
Resolved.

[2016-05-14 19:18] #28 closed

[2016-05-20 16:03] justinharrison commented on #33
Any updates on pagination support? Currently this is the most complete implementation of jsonapi.org's spec on Java and I'd like to use it but I can't without pagination support.

[2016-05-20 16:11] jasminb commented on #33
Should be on develop in next few days.

[2016-05-20 17:17] emetsger commented on #33
@jasminb

Any thoughts on my `ResourceList` implementation?  It may not be the best
name.  I avoided the name `ResourceCollection` because I didn't want to
conflate the Java concept of Collection with the JSON-API concept of
collection (and besides, the method returns a `List` anyway).

On Fri, May 20, 2016 at 12:11 PM, Jasmin Begic <notifications@github.com>
wrote:

[2016-05-23 03:30] hndmrsh opened #38 "Meta attributes for resources in data collections"
First off, this is a super helpful library, thanks so much for the work you've put in so far.

At the moment the `meta` field on data objects is not supported as part of the JSON deserialization. Issue #15 discusses the missing `meta` field on the collection itself, but this does not address the lack of `meta` attributes on the individual resources within a collection, such as the following JSON:

[2016-05-23 04:33] hndmrsh commented on #38
Regarding the workaround using @emetsger's PR: the workaround does not successfully deserialize Snake Case to Camel Case fields (so does not deserialize the `is_friend` attribute to my `isFriend` field on my model).

[2016-05-23 18:55] bradtofel commented on #33
I think the PaginatedList(/ResourceList) solution will cover some cases, but I'm not sure if it handles everything.

According to the spec, it's possible to have a 'links' field for each Resource.

So we could have:

A:
{
  'links' :{},
  'data' :{}
}

B:
{
  'data' :{'links':{}}
}

C:
{
  'data' :[{'links':{}}]
}

In the above scenario, you can also replace 'links' with 'meta'. (Maybe we leave th

[2016-05-24 18:41] emetsger commented on #38
@hndmrsh

No, I didn't realize that setters were required. Are you using the `@Meta` annotation from my `develop-wip` branch in concert with the setters, or did you use the vanilla `develop` branch in concert with setters?

Another alternative that may work, which I haven't tried, is to use some Jackson magic to deserialize the `meta` member in your JSON (`@AnySetter`?).

[2016-05-24 18:44] emetsger commented on #33
@bradtofel I agree that a higher-level abstraction is needed, and I like the idea of the `JsonApiDocument`.  It would maintain binary compatibility and offer a path forward for the optional members in the response (like `jsonapi`, etc.).

[2016-05-24 19:17] #36 closed

[2016-05-24 19:42] jasminb commented on #33
@emetsger will take the code you written to handle links and incorporate it into the proposal from @bradtofel.

[2016-05-24 19:50] bradtofel commented on #33
hey @jasminb was just getting that PR together. : )

Feel free to grab any bits from there that look like they'd fit as well.

[2016-05-24 20:37] jasminb commented on #33
@bradtofel will to, thanks!

[2016-05-24 21:00] jasminb commented on #33
@emetsger @bradtofel Please see https://github.com/jasminb/jsonapi-converter/pull/41

This is just a placeholder PR for ongoing work that will be performed on the given branch.

Currently working (not unit-tested):

- top level and resource level meta
- top level links

Resource level links is still work in progress.

[2016-05-24 21:28] bradtofel commented on #33
@jasminb I'm not sure I follow what you mean about static? Do you mean to deal with the 'links' from scenario 'B' or 'C', you'd have to have a member of a type from this library to deal with it, like below?

[code]

[2016-05-24 21:34] hndmrsh commented on #38
@emetsger

The setters were used for boolean fields inside my `@Meta`-annotated models, which were based on your `develop-wip` branch.

The `@AnySetter` approach is interesting, and that could very well work as a workaround also. If I have time to investigate it today, I will look into it.

With regards to the original issue of not being able to access metadata for objects within a collection: are

[2016-05-24 22:50] emetsger commented on #33
@jasminb Yes, I'm with @bradtofel regarding `@Links`:

[code]

The resource in the `data` member above models a domain entity `File`.  The `data.links` member contains URLs used to manipulate the file.  So in my Java class for the domain entity, I might have a member like:

[code]

Essentially the same as `@Meta`.  As an API designer, I may use `@Links` just as I would use `@Meta`.  The reasoning

[2016-05-24 22:55] emetsger commented on #33
See [this](https://github.com/emetsger/jsonapi-converter/blob/79d00e4bc80c4f64e3a1ca1a817755bf287e341d/src/test/java/com/github/jasminb/jsonapi/models/link/NodeLinksAsDomainObject.java) in my [link-annotation](https://github.com/emetsger/jsonapi-converter/tree/link-annotation) branch: `@Links` can be used to map to a domain object or to a `Map<String, ?>`.

[2016-06-12 23:54] peavers opened #42 "is "included" required?"
I'm having issues trying to read in a basic object.

It looks like a null pointer is being thrown inside the readObject right at
[code]
Due to included being null...

Using a very simple demo app, and posting the follow request
[code]
As [include](http://jsonapi.org/format/#document-top-level) isn't a requirement according to the spec, is there something else I'm doing wrong here?

[2016-06-13 07:18] jasminb commented on #42
Hey,

It looks like you are missing the `id` attribute (id and type must be present).

[2016-06-13 08:44] peavers commented on #42
Ha that solved it, not sure how I missed the obvious. Cheers for all the awesome work!

[2016-06-13 08:44] #42 closed

[2016-06-13 17:53] jasminb commented on #15
Implemented and merged on develop with #41

[2016-06-13 17:53] #15 closed

[2016-06-13 17:54] jasminb commented on #38
Hey @hndmrsh please check #41 and close the issue.

[2016-06-13 17:55] jasminb commented on #33
Hey @emetsger, I've merged #41. Please check it out and close the issue.

[2016-06-14 09:20] peavers commented on #42
Sorry, I'm back...

Do you have a suggestion/example for how I could generate the id server side for new objects rather than in the client? I'm consuming the incoming Json request as a string and can't think of a clean way to manage this.

[2016-06-14 09:43] #38 closed

[2016-06-14 09:58] jasminb commented on #42
Hey,

Is the server side something that you control?

Usually resources are assigned ids when they are stored to permanent store (this can be RDBMS/NoSQL or any other storage implementations.

Generated id than is used to fetch resource using the id value.

If you are using Long/Integer as your primary key in database, you can convert it to `String` for sakes of compatibility with JSON API Spec.

[2016-06-14 10:22] peavers commented on #42
Yup, full control over the backend (Using Dropwizard and MongoDB). This is where I tripped up with my previous message as I was used to the IDs being generated on the fly using an ObjectID (from bson). Which obviously meant I didn't need to pass an ID when creating the object for the first time.

I guess to rephrase my latest message if I must pass an ID in the request, even if the object isn't cr

[2016-06-14 13:27] jasminb commented on #42
Hey,

Just to make it clear, are you using the client to send requests to a server or go deserialise responses received from the server.

In case you are getting information from the server and trying to deserialise, `id` must be present (if resource was fetched from the server it must have an id set or else it should not exist on the server in the first place).

If you using the client to execute

[2016-06-14 20:53] peavers commented on #42
It's creating the object from the client via POST that is causing issues. If I send a POST request without the ID attribute I get the null pointer thrown at:

[code]
From what I can work out because it's calling:
[code]

and ```object.get("id")``` is failing as there is no ID, hence the null pointer?

[2016-06-15 08:35] jasminb commented on #42
I dont understand how do you perform the POST request using the client and `readObject` method, you should be using `writeObject` to get the bytes and then post it to the server?

[2016-06-15 08:43] peavers commented on #42
Hmm let me try showing what I'm doing

ServerResource.class
[code]
So my request from the client (EmberJS frontend) comes into the server here as a POST request. This is on the assumption that no Server object exists in the database, hence no ID.

Here is the save method from the repository class
[code]
The first line, Server server = converter[...] returns the null pointer if no ID is set in the

[2016-06-15 10:06] jasminb commented on #42
Ah, ok than, you are using the client on the server side to deserialise payloads coming from clients.

Simple workaround for you would be to simply send blank `id` field as part of the payload sent to server and than populate the actual id on the server side.

Allowing deserialisation of resources without id is messy since type/id combination is used to uniquely identify a resource during deserial

[2016-06-15 12:02] jasminb commented on #42
Hey,

I've added concept of `Deserialisation options` to the resource converted.

You can do the following to avoid having NPE when no id is present:

[code]

This allows you to remove id restriction.

Have in mind that this is on 'develop' branch, so you must checkout the code, build develop branch and use it as a dependency.

Alternative would be for you to use current snapshot version (see READ

[2016-06-15 23:56] peavers commented on #42
Ha before I saw this I had just written a similar solution, but this is heaps cleaner. Thank you very much it all works as expected and makes my life heaps easier!

Cheers again!

[2016-06-16 11:31] jasminb commented on #42
Np, glad I could help.

[2016-06-21 14:17] kotak25krishna opened #44 "Links are not working for relationships"
I tried with 0.3 version to Marshal the resources in the below json response

{
  "type": "articles",
  "id": "1",
  "attributes": {
    "title": "Rails is Omakase"
  },
  "relationships": {
    "author": {
      "links": {
        "self": "/articles/1/relationships/author",
        "related": "/articles/1/author"
      },
      "data": { "type": "people", "id": "9" }
    }
  }
}

However I am not

[2016-06-21 14:39] jasminb commented on #44
Hello,

Please provide your model classes, if annotated properly, it should work.

[2016-06-22 02:43] kotak25krishna commented on #44
Attached the resource objects and test client.
[Links_Not_Working.docx](https://github.com/jasminb/jsonapi-converter/files/326898/Links_Not_Working.docx)

[2016-06-23 10:19] r4ram opened #45 "Included is not available for related resources while serializing."
Hi,
I tried to serialize 2 related resources with the 0.3 version, but the relation is only available with the type and id. The attributes of the relation which will be available in included is not getting displayed.

Actual Result,
`{
    "data": {
        "type": "mainResponse",
        "id": "3",
        "attributes": {
            "emp-id": "456879",
            "name": "John",
            "su

[2016-06-23 10:25] jasminb commented on #45
Hello,

As per my understanding of JSON API specification, serialisation should not include relationship attributes since you cannot create relationship objects implicitly.

What this means that, if you have two different resources for creation, you first need to create related one and than create base one referencing the one you just created.

In your case:

 - create sub resource first
 - create

[2016-06-23 12:57] r4ram commented on #45
Thanks, But i have problem in generating the meta info. When I use the @meta attribute to display my meta data its getting hidden in the response. Do I need to do any additional configuration other than the meta attribute?

[2016-06-23 18:29] jasminb commented on #45
Hey,

Can you provide sample response with meta in it.

There are two levels where meta can occur:
 - resource level (that is handled by the `@Meta` annotated attribute you already did)
 - response level (that is returned as part of JSONAPIDocument if you are using non-deprecated `readDocument` or `readDocumentCollection` methods

[2016-06-24 07:27] r4ram commented on #45
The problem is that i'm not able to write the meta data in the json response.

response with the hidden meta.
{
    "data": {
        "type": "users",
        "id": "123",
        "attributes": {
            "name": "John Nash"
        }
    }
}
[json api meta.txt](https://github.com/jasminb/jsonapi-converter/files/331372/json.api.meta.txt)

Attached my approach of generating the meta data.

[2016-06-24 08:07] jasminb commented on #45
So, initially library was not created to be used on server side for generating responses (serialisation).

As this is something that is useful to folks that do not want to use more complex frameworks to achieve JSON API spec compliance I will work on extending the lib as part of 0.4 that will provide you with options to enable meta and full relationship serialisation.

[2016-06-24 09:48] r4ram commented on #45
Thanks, waiting for your update.
what is the expected date of the next release?

[2016-06-24 09:52] jasminb commented on #45
I will probably be able to push something today on dev branch, you could try using 0.4-SNAPSHOT afterwards. Will update you when done.

[2016-06-27 01:47] kotak25krishna commented on #44
Hi, All I am trying is to convert Resource classes to json.
As per the documentation (README.md) it seems JSONAPIDocument is for unmarshalling. I have tried  using this JSONAPIDocument , however i couldn't find a way to extract json from the Resource class.
If the way I understood the API is wrong, please let me know.

[2016-06-27 07:13] jasminb commented on #44
Hey,

If you need to `marshal` resource objects into JSON API spec format, use:

[code]

Please have in mind that for marshalling you need to pass actual resource objects rather than
`JSONAPIDocument`.

[2016-06-27 09:00] remmeier opened #47 "Consider katharsis.io annotation support"
http://katharsis.io is a server-side jsonapi implementation. It would be great if katharsis and this project could agree on a common set of annotations so that classes do not need to be annotated for both libraries seperately if both client and server are written in Java. I created a ticket here to start.

[2016-06-28 14:13] r4ram commented on #45
How to implement custom errors while building the json resoponse. I'm following the same approach which has been uploaded already.

[2016-06-28 15:13] amanique opened #48 "inheritable relationships"
"Have in mind that relationship (same as id) is inheritable and can be defined in a base class."

Hello, can you help me do this, please?

[code]

If i remove @Id or @Relationship from the children, they are not inherited from the parent and returns an error "All resource classes must have a field annotated with the @Id annotation" or, in the case of the Relationships, just returns null.
Even if w

[2016-06-28 15:39] amanique commented on #48
Nevermind. I realised it is solved on 0.3;
The only thing missing now is Retrofit 2 ;)

[2016-06-28 15:39] #48 closed

[2016-06-28 16:46] jasminb commented on #48
Hey @amanique, you can use snapshot version of the lib (0.4) which brings retrofit 2.0 support.

[2016-06-28 16:56] amanique commented on #48
Thank you, i tried but the snapshot didn't have retrofit 2 aswell.

[2016-06-28 17:02] jasminb commented on #48
Hey, yeah I did not push the latest version to sonatype repos. I built it few minutes ago and pushed it (not sure how long it takes for it to propagate tho).

[2016-06-28 17:06] amanique commented on #48
OK. thank you very much. One last question :D : I'm doing the serialization with relationships and it's all good, I'm just not being able to include the related objects. Can you help please?

[2016-06-28 17:12] jasminb commented on #48
Hey,
You are the second one asking about full relationship serialisation; initially when I started this project, I intended it to be used on client side, clients do not require full serialisation of relationships since by spec relationships cannot be implicitly created on POST/PUT but rather can be created against already existing resources.

Since it appears folks do have use for full serialisati

[2016-06-28 17:15] amanique commented on #48
Great, thank you man, amazing work.

[2016-06-30 04:07] kotak25krishna commented on #44
Thanks. I have built the logic to obtain links for relationships, which is tested and found to be working. I am not able to attach here for sharing. Let me know if there is any alternative way to share.
See if it can be released into 0.4.
Please let me know.

[2016-06-30 07:46] jasminb commented on #44
Hey,

You can fork this repo, make the changes, push to github and than create a PR.

[2016-07-01 11:50] wmcdona89 commented on #45
Very interested in using this library server side. Looking forward to improved serialization support!

[2016-07-01 12:01] remmeier commented on #47
Maybe a related topic. It would be great to have further support in Retrofit. For example:
:
@JsonApiResourceRepository
interface UserRepository {
Call<List<User>> findAll(QueryParams params);
...
}

UserRepository repo = retrofit.create(UserRepository.class);
repo.findAll(queryParams);

I reused here QueryParams  and JsonApiResourceRepository from karthesis. QueryParams allows to to specify sorti

[2016-07-01 13:44] Inkimar opened #49 "Documentation, with focus on a comprehensive example"
looking at the response example at http://jsonapi.org/ .

is there a possibility to create documentation for your jsonapi-converter that mimics the  response from the 'blog' example that has the top levels 'links' and 'data' .
today my entities have the following annotations

and JPA-annotations such as

I would like to comply to the jsonapi.org-standard when serving JSON to my clients, this libra

[2016-07-06 04:53] hndmrsh opened #50 "Retrofit cannot create converter for JSONAPIDocument<List<Model>>"
Hi,

I have just updated to version 0.4-SNAPSHOT of the library, and I am trying to use the JSONAPIDocument capture the metadata of resource collections. However, this does not seem to work with Retrofit:

[code]

It appears that the `JSONAPIConverterFactory` cannot handle nested parameterized types - it assumes that the top-level Type (in this case, JSONAPIDocument) is a collection, and the param

[2016-07-07 14:13] kotak25krishna opened #51 "JAX-RS Compatibility"
Does Json api supports JAX-RS message readers and writers. I am trying to convert raw response to Rest resources for a JAX-RS compliant restful resource. Below are the success and failure scenarios.

Success Scenario :-
ResourceConverter converter = new ResourceConverter(User.class);
User.class will be read dynamically from JAX-RS MessageBodyReader and I am able to conver raw response to java reso

[2016-07-07 14:47] jasminb commented on #51
Hey,

Library was not written with JAX-RS in mind, however, you should be able to implement `MessageBodyReader<T>` so you can handle multiple types correctly, eg. resolve target type dynamically and than invoke resource converter.

[2016-07-14 16:21] entigo opened #52 "Can not create parent and child objects in one request"
This may be part of the JSONAPI spec but I couldn't find a definitive answer in it. We are using the library on both the client and server. The client sends a request to create a new resource. This resource contains child resources that also need to be created with it. None of the objects have IDs.

[code]

On the server the converter ignores the children since there is no ID in them. The final pa

[2016-07-18 15:59] entigo commented on #52
I was rereading the spec this morning and it does say that relationships should be identifiers only. The spec describes this in a request style at http://jsonapi.org/format/#document-compound-documents

One way to do this within the spec for creation might be to have client generated IDs for the child resources and push them up as included objects to be linked up. I haven't seen anything yet that

[2016-07-19 22:35] hndmrsh commented on #50
Hi,

Would very much appreciate an update on this issue if possible, as it is preventing me from updating from v0.2. Is the issue clear enough, or do you need more information?

[2016-07-19 22:52] jasminb commented on #50
Hey,

Will check it out and update you.

[2016-07-20 12:13] jasminb commented on #50
Hey, would you be willing to checkout a branch, build it yourself and see it this is what you need?

Gist of this change is actually aligning the retrofit plugin with changes in `ResourceConverter` itself (instead of returning raw types, conversion methods now return `JSONAPIDocument<?>`)?

Example service:

[code]

Branch: `retrofit-type-alignment`

[2016-07-20 14:40] bmin opened #54 "Bulk resource creation"
I was trying to create multiple resources in one go, but failed to do so. Following test case with attached data failed (data where there is not "ID" provided for resources).

[code]
ResourceConverter's createIdentifier(...) returns same identification (which is actually type of the resource) for every resources; thus ResourceCache provides same resource again.

[users-no-id.txt](https://github.co

[2016-07-20 14:44] jasminb commented on #54
Hey,

As per specification:

[code]

As per specification (and my experience), you should never try to create multiple resources in one request.

Your motivation is probably to mitigate network overhead by you usually can go around it by introducing parallelism into your client implementation (total duration would still end up being equal to slowest single resource create request).

[2016-07-20 14:56] bmin commented on #54
Thank you for quick response. I have checked the specification. I have both implementation in hand, user can send single or multiple resources to a resource collection - hoping that they will include something that I need in future. Anyway, I have workaround similar to what you said, so will keep it until {json:api} specification as well as your implementation gets changed :D Thank you.

[2016-07-20 14:59] jasminb commented on #54
YW, can you please close the issue.

[2016-07-20 15:00] #52 closed

[2016-07-20 15:02] #54 closed

[2016-07-22 03:37] hndmrsh commented on #50
Hey @jasminb , thanks for looking into a fix - I will give it a go and see if this solves my issues next week.

[2016-07-22 03:56] peavers commented on #45
Also interested in how I can included ```included``` values in my response.

[2016-07-25 00:55] hndmrsh commented on #50
@jasminb: your proposed fix seems to solve the issues - thanks!

[2016-07-25 01:09] hndmrsh commented on #50
The only potential issue with this solution is that it automatically wraps all responses in a `JSONAPIDocument`, which may not be the desired behaviour. For example, the service `Response<MyModel>` (in my case I am using the Rx extensions for Retrofit, so my service is actually `Observable<Response<MyMode>>`) returns an object of type `Response<JSONAPIDocument<MyModel>>`. This shouldn't be a probl

[2016-07-25 08:15] jasminb commented on #50
Hey,

I will give it some more thought. Latest contracts from `ResourceConverter` actually use the same approach (wrapping objects into `JSONAPIDocument`, this is needed since there are `response` level details (meta and links) which are not part of the resource itself.

I will see to adapt the solution so it works with with and without wrapping (depending on service declared types).

[2016-07-25 18:00] Kylar42 opened #56 "Annotated @Links object is not serializing correctly"
I've defined an entity that is annotating and adding a property annotated Links object, and when serializing, the output has:

1) The links inside the attributes{} object, instead of at the top level, as shown in the spec: http://jsonapi.org

2) It's duplicating the links object inside there, incorrectly.

3) The links object is serializing a meta object, incorrectly.

Code:
`

    import com.gith

[2016-07-25 20:38] Kylar42 commented on #56
The resulting JSON entity should look like this:

[code]

[2016-07-27 13:48] jasminb commented on #50
Fixed with #57. @hndmrsh please check snapshot version and close the issue.

[2016-07-27 14:32] jasminb commented on #56
Hey @Kylar42,

I've fixed the issue you reported. Please note that `links` serialisation must be explicitly enabled:

[code]

Method you were using is deprecated now, new method is added:

[code]

[2016-07-27 19:37] uddyami opened #58 "gradle dependency for snapshot not working"
[code]

build.gradle
[code]

[2016-07-27 19:48] jasminb commented on #58
Hey @uddyami, just checked using maven project and it works without issue.

By manually checking repo URL: https://oss.sonatype.org/content/repositories/snapshots/com/github/jasminb/jsonapi-converter/0.4-SNAPSHOT/, you can verify that its there.

Please check your gradle configuration.

[2016-07-27 20:03] uddyami commented on #58
I checked the link.. it works but for some reason i cannot get it for grade.. i'll check again in build.gradle

[2016-07-27 20:37] #58 closed

[2016-07-27 20:37] uddyami commented on #58
i found the problem in my build.gradle

[2016-07-27 23:27] hndmrsh commented on #50
Hey, this seems to work now, but it has introduced a regression: the constructor `public JSONAPIConverterFactory(ObjectMapper mapper, Class... classes)` does not instantiate the `serializer` field with a `ResourceConverter`, which causes serialization of request bodies for `POST` calls to fail.

Let me know if you need me to explain further!

[2016-07-28 08:19] jasminb commented on #50
Thanks for reporting it @hndmrsh, I've fixed it and pushed to `develop`.

[2016-07-29 01:34] hndmrsh commented on #50
Great! All working now, cheers.

[2016-07-29 01:34] #50 closed

[2016-07-29 01:53] hndmrsh opened #59 "Error when parsing null primary data"
I am trying to retrieve a resource from an endpoint which may or may not exist (where not existing is a valid state). When the resource does not exist, the following object is returned:

[code]

According to the JSON-API spec, this is valid (["Primary data MUST be... a single resource object, a single resource identifier object, **or null**, for requests that target single resources"](http://jsona

[2016-07-29 05:46] pradeepmallika opened #60 "Pls give latest set of jars list to compile jsonapi convertor base, I am not using maven,i tried with following jar , but getting exceptions while executing an file"
I am using the below listed jars

jackson-annotations-2.0.1.jar
jackson-core-2.5.0.jar
jackson-databind-2.7.1.jar
jsonapi-converter-0.3.jar
junit-4.12.jar
mockwebserver-3.0.0.jar
okhttp-1.2.0.jar
okhttp-2.7.5.jar
okhttp-3.2.0.jar
retrofit-2.0.1.jar

I am getting following exception trace

Exception in thread "main" java.lang.NoClassDefFoundError: com/fasterxml/jackson/annotation/JsonInclude$Value

[2016-07-29 08:18] jasminb commented on #60
Hey,

Here are the dependencies:

com.squareup.retrofit2:retrofit:jar:2.1.0
com.squareup.okhttp3:okhttp:jar:3.3.0
com.squareup.okio:okio:jar:1.8.0
com.fasterxml.jackson.core:jackson-databind:jar:2.7.1
com.fasterxml.jackson.core:jackson-annotations:jar:2.7.0
com.fasterxml.jackson.core:jackson-core:jar:2.7.1

[2016-07-29 08:22] jasminb commented on #59
Hey @hndmrsh ,

Thanks for reporting it.

As I understand the spec, lib should produce `null` result in this case (`JSONAPIDocument.get() == null`)?

[2016-07-29 09:18] #26 closed

[2016-07-29 09:19] jasminb commented on #19
Fixed.

[2016-07-29 09:19] #19 closed

[2016-07-29 10:50] pradeepmallika commented on #60
Problem solved, thank you @jasminb :)

[2016-07-31 23:15] hndmrsh commented on #59
Hi,

Yes, that is what I would expect also. The same would go for cases where `JSONAPIDocument` is not used; for example, a `Response<MyModel>` object would return `null` for `body()`.

[2016-08-01 18:09] pradeepmallika commented on #60
RetrofitTest.java  is not compiling , other than  RetrofitTest.java   all other files is compiling

import okhttp3.mockwebserver.MockResponse;

I tried to include mockwebserver-3.0.0.jar

Mockserver compilation problem solved  but  i am getting below exception while compiling

		Retrofit retrofit = new Retrofit.Builder().baseUrl(server.url("/").toString()).addConverterFactory(converterFactory).bui

[2016-08-01 18:10] pradeepmallika commented on #60
RetrofitTest.java  is not compiling , other than  RetrofitTest.java   all other files is compiling

import okhttp3.mockwebserver.MockResponse;

I tried to include mockwebserver-3.0.0.jar

Mockserver compilation problem solved  but  i am getting below exception while compiling

		Retrofit retrofit = new Retrofit.Builder().baseUrl(server.url("/").toString()).addConverterFactory(converterFactory).bui

[2016-08-01 18:34] jasminb commented on #60
Hey,

Heres the list including test dependencies:

[code]

[2016-08-01 19:04] pradeepmallika commented on #60
I added all the jars mention by you, Still getting the following exception

		Retrofit retrofit = new Retrofit.Builder().baseUrl(server.url("/").toString()).addConverterFactory(converterFactory).build();
		                                                                              ^
  class file for retrofit.Converter not found
./java/com/github/jasminb/jsonapi/retrofit/RetrofitTest.java:99: err

[2016-08-01 19:43] pradeepmallika opened #61 "Whether it is possible to use two @Type ( i.e @Type("users") ,@Type("articles") ) in a model file"
@jasminb
because my type value is only different but the values inside is same , if it not, whether any alternative way is there, to avoid duplicate the model file except the @Type variation

Pradeep

[2016-08-01 21:19] jasminb commented on #60
What kind of project do you have, why not just use sbt/maven?

[2016-08-01 21:20] jasminb commented on #61
You can make a base class and than extend it two times and annotate with differently configured `Type` annotation.

[2016-08-01 23:45] #61 closed

[2016-08-01 23:45] pradeepmallika commented on #61
@jasminb   Thank you, your solution worked.

[2016-08-01 23:48] pradeepmallika commented on #60
@jasminb   I have downloaded  jsonapi-converter(zip i got is jsonapi-converter-22c0f26ac08206737fbbee59a593ff4f5d18791f.zip) from git hub and compiling in terminal

[2016-08-02 07:20] jasminb commented on #60
You should use current `develop` branch, what you downloaded has number of issues that were resolved on `develop` (dependencies I provided are for current develop).

Instead of downloading, you can install `git` and perform a `clone` using `https` if you do not have your keys setup.

Let me know if you need anything else.

[2016-08-02 16:35] Kylar42 commented on #56
Is there a doc update that shows how to use the "new" serialization methods? And when do you expect to release a new version with this fix? (I'm using 0.4-Snapshot).

[2016-08-02 16:52] jasminb commented on #56
Hey,

One more standing issue exists (generating `included` data during serialisation), after that one is finished I will update docs and do a `0.4` release.

[2016-08-03 15:50] rusmichal opened #62 "Question. How to parse meta data?"
Hello guys. How to read that json meta data?
I removed unnecessary json data.
[code]

[2016-08-03 18:16] jasminb commented on #62
Hey,

To get top-level meta, you can do the following:

[code]

More type-safe way would be to create meta `POJO` and than do the following:

[code]

Btw, this gives me an idea to add helper method into `JSONAPIDocument` that will allow you to do:

[code]

[2016-08-03 18:51] jasminb commented on #59
Hey,

Issue is resolved and pushed to `develop`.

`JSONAPIDocument<Type>.get()` will return `null`
`JSONAPIDocument<List<Type>>.get()` will return empty collection.

[2016-08-03 20:08] rusmichal commented on #62
Great. Thx for help:)

[2016-08-04 22:12] jasminb commented on #45
I've pushed changes that allow for enabling the generation of `included` data section during serialisation.

In order to enable it:

[code]

Also, related to one of the first comments here, library now fully supports handling all meta-data (both resource level and global).

Please consider closing the issue after review.

[2016-08-04 22:27] hndmrsh commented on #59
Hey - cool, this seems to work well. Thanks!

[2016-08-04 22:27] #59 closed

[2016-08-04 22:51] jasminb commented on #62
Hey @rusmichal, mentioned changes are not part of release `0.4`, can you check it out and close the issue please.

[2016-08-04 22:52] jasminb commented on #56
Documentation updated and `0.4` released, check it out and please close the issue.

[2016-08-07 16:04] Kylar42 opened #63 "Need Functionality for Meta on a Relationship."
According to the spec, and this discussion: http://discuss.jsonapi.org/t/metadata-about-relationships/86 There is the ability to specify meta about a relationship that is separate from the  actual object.  If this is supported in the library(I can't find it!) can you provide documentation, or if not, can you define a way to make it work?

[2016-08-07 16:05] Kylar42 commented on #56
I will test it this week, thanks!

[2016-08-09 02:30] hndmrsh opened #64 "ResourceConverter should allow deserializing arbitrary JSON-API–compliant objects"
Hi,

To my knowledge, the only way to deserialize a JSON-API object with a ResourceConverter  at the moment is to use the `readDocument(byte[], Class)`. This requires prior knowledge of the type of object to be deserialized - this can sometimes be an issue, as it is not always possible to know what type of object we are expecting. For example, my Android client is registered to receive push notifi

[2016-08-09 18:28] jasminb commented on #64
Hey,

New method could be made available that will use the 'type' attribute in order to resolve the what object to create. Problem here is that it's signature would be 'JSONAPIDocument<?> which could confuse users and move them toward using it even when not appropriate since its signature is less strict.

[2016-08-09 21:44] Kylar42 commented on #56
Looks great, thanks!

[2016-08-09 21:44] #56 closed

[2016-08-09 22:25] hndmrsh commented on #64
What if there was a method in the ResourceConverter which could be used in conjunction with `readDocument` rather than replaces it (i.e. it returns the Class of the model represented by the byte[] array/input stream)? This way it does not overload the `readDocument` method, so it should not inadvertently encourage users to use it over the existing method.

At the moment I am having to do the follo

[2016-08-11 17:09] #62 closed

[2016-08-11 17:09] jasminb commented on #63
Hey,

It is a bit tricky to support it, only solution flexible enough would be forcing you to wrap all your relationship objects with `JSONAPIDocument<?>`.

Will give it some more taught, if you have any ideas, please share.

[2016-08-11 17:13] jasminb commented on #64
Hey,

It could be added but it brings overhead of having to parse actual JSON to extract the `type` value.

However, since it is a `helper` method and used for edge cases, I think it is acceptable solution.

We would end up having something like this:

[code]

[2016-08-11 21:43] hndmrsh commented on #64
That looks good to me. Parsing the JSON to extract the type seems inevitable; without the `getType` helper method, the only other way to get the type information is to parse the JSON string using some other method anyway (such as using the built-in JSONObject).

[2016-08-14 00:25] darko1002001 commented on #64
But this way you are parsing the object 2 times.. which is not good. And it wont work with streams like reading directly from the network input stream. since after the first read the stream will be closed.

what might be a good idea is to do a wrapper object,

[code]
etc...
But this would require quite a rework, basically just parse the json tree into memory first and determine the types then when

[2016-08-14 18:48] jasminb commented on #64
Simpler solution would be just adding another method that allows conversion without providing class. Since JSON is parsed before the class is needed, it is simple enough to implement it without having to touch existing code. In case type is not registered exception would be thrown.

However, problem I have with it is that it pollutes the resource converter with a method they could be misused, but

[2016-08-14 19:18] darko1002001 commented on #64
I've thought about this and nothing needs to be changed in the API of the library. What he wants to do should be doable with polymorphism.

[code]

Then something like the visitor pattern can be used to process it based on the concrete class.

I haven't tried it but i guess it should work. I had similar case with a relationship which was a polymorphic relationship of an object.

[2016-08-14 23:30] hndmrsh commented on #64
@darko1002001: thanks for the suggestion, but this is not possible as abstract classes and interfaces cannot be deserialized. Even making the `Notification` class concrete does not fix the situation, as the library will not deserialize a class without a `@Type` annotation (unless I am doing something wrong).

I feel like @jasminb 's original suggestion is probably the cleanest approach here.

[2016-08-15 09:13] darko1002001 commented on #64
What have you tried to do so far? why not have classes that have a type annotation?

The way it works is that the converter checks the registered types -> if type is "a" create new instance of A: if type is B create new instance of B > assign it to a variable of type Notification -> return it. which most definitely will work.

[2016-08-22 16:57] uddyami commented on #44
is there any update for this? I'm trying something similar and seems like links for included object didn't come through.

[2016-08-22 17:38] #60 closed

[2016-08-22 17:39] jasminb commented on #45
Fixed.

[2016-08-22 17:39] #45 closed

[2016-08-22 17:39] #33 closed

[2016-08-22 17:42] jasminb commented on #44
Hey @uddyami, can you please present the exact issue you are having and version of the lib?

[2016-08-22 20:35] uddyami commented on #44
The `Links` section cannot be custom identifier it seems to me. The `next` and `self` gets serialized way but custom tags `icon` and `front` were ignored. Any ideas how to allow for custom tags in link section?

[2016-08-22 21:52] hndmrsh commented on #64
Hey @darko1002001 - I understand what you're saying, and I tried implementing it exactly as you described it previously, and it did not work. `readDocument(Intent, Class)` does not allow an interface or abstract class to be passed in as the second parameter.

[2016-08-23 07:10] darko1002001 commented on #64
Then its an issue in the library, since on a nested level it works just fine.

[2016-08-23 08:03] jasminb commented on #44
Hey @uddyami, issue is fixed and pushed to `develop`. You can either checkout latest code or use `snapshot` version to check it out.

[2016-08-23 14:41] joaofyz opened #65 "Deserealize Links at top level"
Hi,

We are using the 0.4 version of the library and also tried in the 0.5 snapshot. We tried to deserealize a collection with the Links object at top level:

`{
  "data": [
   ...
  ],
  "meta": {
    "totalResults": "2709"
  },
  "links": {
    "first": "first_link",
    "next": "next_link",
    "last": "last_link"
  }
}`

We tried to add in our resource class the @Links annotation but it's alwa

[2016-08-23 15:54] uddyami commented on #44
Thank you for the quick turn around.. it working perfectly now :)

[2016-08-23 20:43] jasminb commented on #65
Hello @joaofyz, top level meta and links are available only if new methods are used for deserialisation (namely `readDocument` and `readDocumentCollection`). These methods return `JSONAPIDocument<?>` object which wraps target type, inside this object you can find top level meta and links.

[2016-08-25 12:15] jasminb commented on #65
Hey @joaofyz, any update on this, please let me know so we can move forward on this.

[2016-08-25 15:16] joaofyz commented on #65
Hi @jasminb,

Thanks for your reply, we will try it tomorrow and then I give you some feedback, but I think that will solve it ;)

[2016-08-26 11:08] joaofyz commented on #65
Hi @jasminb,

We have tested your suggestion and it worked ;)

Thanks I will close the issue

[2016-08-26 11:08] #65 closed

[2016-08-30 08:23] jasminb commented on #64
Hey @hndmrsh and @darko1002001,

I've pushed #66 , it adds support for deserialising objects using super-type as argument when invoking `readDocument` method.

This change makes it possible to have following scenario:

[code]

Result will be instance of class that has its `type` value equal to the value found in response.

[2016-08-31 13:52] aravind6941 commented on #44
Hi,
Below is my jsonapi response. I am unable to parse the relationship links. I am using jsonapi-converter 0.3 version.

{
  "data": {
    "type": "objects",
    "id": "id",
    "attributes": {
      "title": "title"
    },
    "relationships": {
      "workplaces": {
        "links": {
          "self": "http://myserviceurl",
        }
      }
    }
   "links":{
      "self": "http://myserviceur

[2016-08-31 14:01] jasminb commented on #44
Hello, Please switch to using latest version (`0.4`), also, payload you provided is not a valid JSON.

[2016-08-31 23:08] hndmrsh commented on #64
Hey @jasminb - I've checked out #66, and it fixes the issue for me. I think it's a nice elegant solution. Thanks!

[2016-08-31 23:08] #64 closed

[2016-09-01 04:53] aravind6941 commented on #44
Hi,

Below is the exact jsonapi response.  I need to retrieve the links of self and related present in the "folders".

Response : {
	"data":[
		{
			"type" : "myprojects",
			"id"   : "project12345",
			"attributes": {
				"created_time" : "Aug 2016",
				"name"         : "educational stratgies"
			},
			"relationships": {
				"folders" : {
				 "links": {
				   	"self" : "/myprojects/projects123

[2016-09-01 07:20] pradeepmallika opened #67 "I would like to get the relationships- authors-links-self, donno how to get it , Pls help me to get the self link"
"data": {
    "type": "articles",
    "id": "1",
    "attributes": {
      "title": "JSON API paints my bikeshed!",
      "body": "The shortest article. Ever.",
      "created": "2015-05-22T14:56:29.000Z",
      "updated": "2015-05-22T14:56:28.000Z"
    },
    "relationships": {
     "author": {
        "links": {
          "self": "http://example.com/articles/1/relationships/author",
          "r

[2016-09-01 07:25] jasminb commented on #67
Hello,

Can you please make sure that provided result is valid JSON.

[2016-09-01 07:32] pradeepmallika commented on #67
@jasminb   I have taken from http://jsonapi.org/examples/#error-objects-source-usage

and done small modification  in relationship part.

[2016-09-01 11:00] jasminb commented on #67
Hello @pradeepmallika,

Library does not allow direct access for relationship links i related objects, it allows for resolving relationships by implementing and registering relationship resolver.

This is the interface that needs to be implemented:

[code]

Purpose of the resolver is to execute fetch using the relationship URL and than deserialise the response (it works transparently).

Now if you

[2016-09-01 11:50] pradeepmallika commented on #67
@jasminb  Thanks for your response ,I am using Retrofit , whether your solution can be used with Retrofit ?

[2016-09-01 12:59] jasminb commented on #67
Sure it can, you need to create an instance of `ResourceConverter` to use it with retrofit, when you create it, you need to register type resolver with it.

[2016-09-01 13:04] pradeepmallika commented on #67
@jasminb  you email-id pls ?

[2016-09-01 14:00] jasminb commented on #67
Hey @pradeepmallika, I would prefer to keep the discussion on this thread. If you need to share something you are not comfortable with sharing, you can change it in a way it does not expose any of your specifics and share it.

[2016-09-01 14:46] mushtu opened #68 "Potential Problem in Parsing Included Resources"
`   private Map<String, Object> parseIncluded(JsonNode parent)
            throws IOException, IllegalAccessException, InstantiationException {
        Map<String, Object> result = new HashMap<>();

[code]

The method `getIncludedResources(parent)` returns only the resources that their types is registered in configuration. In case that  included part of json has a resource that is not registered o

[2016-09-01 16:46] Kylar42 opened #69 "StackOverflow error if cyclical graph"
JSON API allows me to have cyclical references, ie:
A teacher that has a relationship to a student, and that student having a relationship to the teacher.

However, this requires that the serialization and deserialization map ID's such that we can only create one reference, as walking the references will result in a cycle.

The below example shows this. We could create a type/id map during seriali

[2016-09-01 22:29] jasminb commented on #69
Hey @Kylar42, tx for reporting. Approach you are suggesting is already used in deserialisation, will do the same for the serialisation.

[2016-09-02 12:19] pradeepmallika commented on #67
@jasminb  We are using   JSONAPIConverterFactory only, in JSONAPIConverterFactory where i can create instance of ResourceConverter ? an working example will be help full.

[2016-09-02 18:10] Kylar42 commented on #63
Was thinking about this and have two proposals. One is simple, but clunky. One is more complicated, but more flexible.
The first is define a separate Map object in each Model that has a special annotation, like:
@RelationshipMeta(type="teacher")
Map<String, JsonAPIDocument<>>

The second is to do something similar, but with a Producer object that will return a JSONAPIDocument<> based on the object

[2016-09-02 19:04] Kylar42 opened #70 "com.github.jasminb.jsonapi.Links needs to override Equals()"
When writing a test, if I serialize and deserialize an object with links, a new Links() object is created, and since there's no equals() method, they're not considered equal.

Please include a valid equals() and hashCode() method, preferrably using EqualsBuilder or similar semantics!

Thanks!

[2016-09-05 11:04] jasminb commented on #67
Hey @pradeepmallika, if you check https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/github/jasminb/jsonapi/retrofit/JSONAPIConverterFactory.java, you can see that there are two different constructors that take `ResourceConverter` as arguments.

[2016-09-05 11:39] jasminb commented on #63
Hey @Kylar42, relationship can be either to one or many resources. So we need a wrapping object that will contain both the meta and the actual resources.

Now, during deserialisation, relationship can be either provided in `included` section, or not provided hence it needs to be resolved via provided link (this makes things complicated).

This leads to the solution that would basically force the f

[2016-09-06 06:56] huberts opened #71 "Creating objects is impossible"
Hello!

Is there a way to parse a newly created object from client-side? Such object does not have an ID and according to JSON API it should be considered as a new one: http://jsonapi.org/format/#document-resource-objects.

[2016-09-06 07:08] huberts commented on #71
Ok, I found the solution, you only need to disable one option in your converter:
`converter.disableDeserializationOption(DeserializationFeature.REQUIRE_RESOURCE_ID)`
If this is the proper way to go, I am satisfied :-)

[2016-09-06 07:32] pradeepmallika opened #72 "While executing the example ResourceConverterTest.java, I am getting the following Exception"
1) testReadWithMetaAndLinksSection(com.github.jasminb.jsonapi.ResourceConverterTest)
java.lang.RuntimeException: com.fasterxml.jackson.databind.JsonMappingException: No content to map due to end-of-input
 at [Source: java.io.FileInputStream@26e7ee9f; line: 1, column: 0]
       	at com.github.jasminb.jsonapi.ResourceConverter.readDocument(ResourceConverter.java:184)
       	at com.github.jasminb.js

[2016-09-06 07:34] pradeepmallika commented on #72
@jasminb  I am using the following jars and i have take the code by git clone https://github.com/jasminb/jsonapi-converter.git

bcprov-jdk15on-1.50.jar        jackson-core-2.7.1.jar         junit-4.12.jar                 okhttp-ws-3.2.0.jar
hamcrest-core-1.3.jar          jackson-databind-2.7.1.jar     mockwebserver-3.2.0.jar        okio-1.8.0.jar

[2016-09-06 08:11] jasminb commented on #72
Hello @pradeepmallika, this is a maven project, what happens if you do `mvn clean install` in the project root?

[2016-09-06 08:29] jasminb commented on #71
Hey, yes that would be the way to do it.

[2016-09-06 09:26] pradeepmallika commented on #72
@jasminb   i executed  mvn clean install command,build is success, Whether i can able to run the test(ResourceConverterTest) files from terminal/iTerm ?

[2016-09-06 09:43] dodos90 commented on #2
Hi,

I've got a similar issue with the following JSON :
`{
   "data":[
      {
         "type":"device",
         "id":4001,
         "attributes":{
            "id":4001,
            "serial":"0a621724c372cc07",
            "activationCode":"4000123412341235",
            "creationDate":1467099796000,
            "lastCommDate":0
         },
         "relationships":{
            "userDeviceMap":

[2016-09-06 10:10] pradeepmallika commented on #72
@jasminb   Worked Fine , thank you :)

[2016-09-06 10:14] jasminb commented on #72
Great, can you please close the issue :)

[2016-09-06 10:18] jasminb commented on #2
Hey @dodos90, `UserDeviceMap` also needs to be annotated with `Type` and registered in `ResourceConverter` when creating it (besides `Device` class).

[2016-09-06 10:35] #72 closed

[2016-09-06 12:25] dodos90 commented on #2
Oh yeah ! I didn't really understand that we need to add the compound classes (like `UserDeviceMap`) to the `ResourceConverter` as well. Now it works perfectly, thanks !

[2016-09-06 12:46] jasminb commented on #69
Hey again @Kylar42, after looking at this again, I found that there are two problems here which need solving.

First one is related to Jackson and second one to the library itself.

To go around jackson related issue, one needs to properly annotate model classes so jackson can correctly serialise objects with cycles:

[code]

Second issue was with the library itself, I've fixed it and pushed to `d

[2016-09-06 15:48] Kylar42 commented on #69
Awesome. When do you plan on doing a 0.5 release?

[2016-09-06 15:56] jasminb commented on #69
Hey, still no exact time for the 0.5. You can use the snapshot release in the meantime.

[2016-09-06 15:59] Kylar42 commented on #63
In the case where you're just including a links, then the relationship that you return from the
/object/relationships/abcd call would then be responsible for returning the relationship and meta info as well, which would probably be it's own model, right? If I'm misunderstanding, can you give me a more concrete example? I've started trying the callback technique to see if it would work for me in a

[2016-09-06 16:49] jasminb commented on #63
I'm not sure I understand the need for relationship meta than. Could it be looked at as the top-level meta for single resource? What if one resource has relationship to many other resources which in turn all would need to have different meta for that particular relationship?

[2016-09-06 17:14] Kylar42 commented on #69
OK, just tested it - works great, thanks!

[2016-09-06 17:21] Kylar42 commented on #63
So here's a use case that's similar to what I'm dealing with:

a user has an 'asset' - in this case, it's a material that is a video on youtube.

Here's it's representation:

[code]

And this material could be referred to in a bunch of places by different resources.

Let's say I'm a teacher, and giving an assignment. So I reference this material, but I need to specify some metadata **on the relati

[2016-09-06 17:22] Kylar42 commented on #63
So that's where I was thinking the callback/RelationshipMetaProducer would be a useful pattern.

[2016-09-07 08:05] jasminb commented on #63
Hey @Kylar42, what do you think about simply adding a new methods to the `JSONAPIDocument`:

One for cases where user has a type defined for relationship meta:

[code]

One of cases where theres no type:

[code]

Internally, library would keep track of object/meta pairs and store it to `JSONAPIDocument` object.

[2016-09-07 08:18] #71 closed

[2016-09-07 18:40] Kylar42 commented on #63
That seems good for *reading* the meta, but how would you generate it? Would I create the JSONAPIDocument, then have to set the meta on it separately for each object?

[2016-09-08 07:59] jasminb commented on #63
Yes, you would have to register meta per object on the `JSONAPIDocument`. It has its pros and cons.

Slightly different approach would be defining `RelationshipMeta` annotation as you mentioned before, lib that would take whatever object is there and serialise it as relationship meta.

This means that if you have `Student` and `Teacher` models where every student has its teacher. If there was a ne

[2016-09-08 16:12] dodos90 commented on #18
Hello,

First of all, sorry to comment again on a closed issue, but I think I found a (little) bug :)
I tried to serialize an `User` object which has a relationship to multiple `UserBoxMap` items.

In my `User` class, if the `UserBoxMap` attribute is defined as follows :

`private Set<UserBoxMap> userBoxMap = new HashSet<>();`

The serialization fails with an exception :
`java.lang.NullPointerExce

[2016-09-08 18:26] pradeepmallika commented on #67
@jasminb I tired many ways , it is not working,an simple example with below given jason will be useful , thanks in advance.

"data": {
"type": "articles",
"id": "1",
"attributes": {
"title": "JSON API paints my bikeshed!",
"body": "The shortest article. Ever.",
"created": "2015-05-22T14:56:29.000Z",
"updated": "2015-05-22T14:56:28.000Z"
},
"relationships": {
"author": {
"links": {
"self": "http://

[2016-09-08 18:55] jasminb commented on #67
Hey @pradeepmallika, in this example the `included` section is not relevant since there is no type/id information in `author` relationship object. I can provide detailed example on how to get the relationship links if thats what you need.

[2016-09-08 18:58] jasminb commented on #18
Hey @dodos90, thanks for taking the time and documenting your findings. You are correct about the `List`, library does not support any other collection type. Honestly, only reason I can come up with for doing so is simplicity in order to avoid making decision what type of collection to create when deserialising relationship.

[2016-09-09 05:16] pradeepmallika commented on #67
@jasminb here is my response replica,Pls provide an example to get relationships- authors-links , I  am getting the response through retrofit

	{
	    "data": {
	        "type": "supermarket",
	        "id": "mal2313213223123123",
	        "attributes": {
	            "created_time": "Aug 29",
	            "modified_time": "Aug 29",
	            "name": "testingsupermarket123",
	            "descr

[2016-09-12 14:31] dodos90 opened #73 "NullPointerException while trying to serialize a (fetch = FetchType.LAZY) attribute"
Hello,

First of all, I'd like to thank the author(s) of this lib for their great work, it is really helpful.
I'm encountering an issue with the serialization of an object managed by Hibernate (server-side), with some attributes annotated with `@ManyToOne(fetch = FetchType.LAZY)`.

When I try to serialize those attributes, I get a `NullPointerException` :

`java.lang.NullPointerException
    at co

[2016-09-13 10:10] dodos90 opened #74 "Is it possible to serialize a resource and its links with jsonapi-converter ?"
Hi,

I'm trying to use this library to serialize some resources from server-side, before sending them to my client.

I've got a `UserObject` that looks like this :

`public class UserObject {
    @com.github.jasminb.jsonapi.annotations.Id
    @JsonIgnore
    private String stringId;

[code]

My `UserDeviceMap` looks like this :

`public class UserDeviceMap {

[code]

If I serialize those resources

[2016-09-14 07:44] jasminb commented on #73
Hey,

You can try this:

[code]

[2016-09-14 07:58] jasminb commented on #74
Hey,

Currently lib will include relationship object's links in the data section. So if you enable `SerializationFeature.INCLUDE_RELATIONSHIP_ATTRIBUTES`, `incldued` section will be present that will contain the link data.

I will make necessary changes in order to make links available trough the `relationship` object even if `SerializationFeature.INCLUDE_RELATIONSHIP_ATTRIBUTES` is disabled.

[2016-09-15 22:38] thinh76 opened #75 "Can not deserialise json to object model when there is no default constructor"
`
@Type("Person")
class Person {
  @Id
  private String id;

 @JsonCreator
  public Person(@JsonProperty("id") String id) {
     this.id = id;
  }

  public String getId() {
    return id;
  }
}

new ResourceConverter.readObject("\n"
        + "{\n"
        + "   \"data\": {\n"
        + "      \"id\": \"1\",\n"
        + "      \"type\": \"Type\"\n"
        + "      \n"
        + "   }\n"

[2016-09-15 22:48] jasminb commented on #75
Hey,

Having default constructor is the norm for any type of deserialisation. One could consider implementing support for object factories, however having default ctor is simplest solution.

[2016-09-15 23:28] joaofyz commented on #25
Hi,

I'm having another problem with the hierarchical classes, now serializing the objects.

All my objects in JSONAPI are from the same type @Type("object_type"), but I can not have the same @Type annotation in the main and child classes. How can I do this?

Thanks

[2016-09-15 23:47] thinh76 commented on #75
Yeah, I agree. It's just that with ObjectMapper it supports @JsonCreator annotation which removes the need for having default constructor. And I am actually looking at this library and wrap it around with Scala, and in Scala case classes, having a default constructor defeats the immutability purpose.. I think the fix for it would just be changing result = clazz.newInstance() in the following block

[2016-09-16 07:19] jasminb commented on #25
Hey @joaofyz,

You cant inherit type (have multiple classes of the same type), however you can have a base class that has most of your attributes and than extend it and in subclasses to specify the type and additional attributes that you need.

When you deserialise you can do the following:

[code]
`object` will be instance of the correct subtype depending on the `type` attribute present in the `d

[2016-09-16 08:02] #75 closed

[2016-09-16 08:03] jasminb commented on #75
Hey @thinh76, I've taken your suggestion and pushed to develop. It should be available in `SNAPSHOT` version.

[2016-09-16 08:03] #69 closed

[2016-09-16 12:10] pradeepmallika opened #76 "After taking the relationship url using RelationResolver , whether it is possible to do http request with that url (through retrofit) and get the response ?"

[2016-09-16 13:26] joaofyz commented on #25
I don't think this will solve my issue. Let me try to explain what I want to archive:

What I have now is the following:

One class Vehicle
`@Type("vehicle")
public class Vehicle {
...
}`

And a subclass Car
`@Type("car") // I need this to be "vehicle" also
public class Car {
...
}`

Thanks for the help again ;)

[2016-09-16 13:52] jasminb commented on #67
Hey @pradeepmallika, do you still need this?

[2016-09-16 13:54] jasminb commented on #25
Can you give more background on why would you want to have same type on multiple classes?

[2016-09-16 14:00] jasminb commented on #76
Hey, would be lovely if you could provide more details. Are you asking for a way to consume the resource link in order to fetch actual resources from the server?

[2016-09-16 14:09] emetsger commented on #76
You can use the @Url parameter annotation, which allows you to use the full
url obtained from @Relationship.

There are a few methods on this example Retrofit service that use this
approach:
https://github.com/emetsger/osf-client/blob/master/src/main/java/org/dataconservancy/cos/osf/client/service/OsfService.java

On Friday, September 16, 2016, Jasmin Begic <notifications@github.com>
wrote:

[2016-09-16 14:48] pradeepmallika commented on #76
@jasminb  yes,I want the way to consume the resource link in order to fetch actual resources from the server.

[2016-09-16 14:51] jasminb commented on #76
Hey @pradeepmallika, please check the link that @emetsger provided, it has an example method in the retrofit service that will do exactly what you need.

[2016-09-16 15:07] pradeepmallika commented on #67
@jasminb No, I found the way to get relationship url, but one question Whether Jsonapi-convertor provides and support to  to consume the resource link in order to fetch actual resources from the server. , or i need to done it my self with http get request or through Retrofit.

[2016-09-16 15:27] #76 closed

[2016-09-16 23:37] thinh76 commented on #75
Hi @jasminb, thank you so much.... any idea when this SNAPSHOT will be released?

Thanks heaps again.

[2016-09-17 17:38] jasminb commented on #75
Hey, I've deployed latest develop to sonatype snapshot repo.

[2016-09-18 01:07] thinh76 commented on #75
thanks @jasminb. Are you in a position to release 0.5?

[2016-09-19 13:17] joaofyz commented on #25
Hi @jasminb

In the business prespective they are all "vehicles", so they are all mapped has vehicles.

Do you think I will be able to do this?

[2016-09-19 14:33] jasminb commented on #25
Hey @joaofyz, if the API does not make a `type` difference between `Car` and `Vehicle` than your model should not do it.

What you can do is the following:
 - have one class that has all the attributes
 - create a factory that will create specific subclass depending on the attributes

Now I understand that these are design choices that you made for a reason, sadly it is not possible to create diff

[2016-09-20 15:10] pradeepmallika commented on #67
@jasminb   No ,thank you 👍

[2016-09-20 15:10] #67 closed

[2016-10-03 14:07] markoilicic opened #77 "Q: Deserialising array of different type objects?"
Hi Jasmin,

I'm trying to implement your library, but I'm not able to figure out how it's possible to define parsing  data with array of different types. E.g.:

[code]

Is that possible with your library and how?
Thanks for answer in front...

[2016-10-03 14:16] jasminb commented on #77
Hey @markoilicic,

It is not possible to have objects of different type in one resource array.

I've checked the spec and was not able to find if it was allowed or not.

[2016-10-03 14:28] markoilicic commented on #77
Thanks for fast response!

I was also checking spec, but there is no info about that case. My API have that structure, and I'm not sure if that is allowed or not... :)

[2016-10-03 14:35] jasminb commented on #77
Hey,

My opinion is that there should not be an API method that returns collection of different elements as a result. It is a bad practice and generally makes it really hard for the users to consume it.

I'm not sure if you are owning the API backend side or not, if you do, change it :)

Regards

[2016-10-05 03:29] ericn37 opened #78 "Mixed type/ type wildcard/ polymorphism"
My server search API returns a list of object of various types e.g. "products", "brands" etc.

I have Product and Brand model both extending BaseModel:
[code]

I've tried the following:
[code]
but I got the following exception:
[code]

[2016-10-06 15:51] jasminb commented on #78
Hey @ericn37, error you got is related to retrofit. Why not use `BaseType` only?

[2016-10-06 15:56] jasminb commented on #77
Hey @markoilicic, if you create a class that both `foo` and `bar` extend, you should be able to pull it off.

[2016-10-06 18:24] markoilicic commented on #77
Hej @jasminb, thx for pointing that out.
We (my college) have realized that yesterday on this commit: https://github.com/jasminb/jsonapi-converter/commit/e0e6854932e6e8e958aad6e46b64a09d71e0f834

I was just about to let you know that there is the way for parse it that way.

I believe that I just need to add any `@Type` annotation to the base class (or the one that is used as superType) to make it

[2016-10-06 18:56] emetsger commented on #78
I don't have much to add to this conversation, except to add a "me too".
I'm working with a JSON API that has relationships that can point to
objects of different types.

For example, an object may have a  relationship named `somerel` with a
`related` link to `http://example.org/resource/1`, and the JSON
representation at http://example.org/resource/1 may have a `type` of `Baz`.

A different objec

[2016-10-07 07:51] jasminb commented on #77
Glad you find the lib useful. Will update the README with the example for this use-case, thanks for pointing it out.

[2016-10-11 09:16] andyroberts86 opened #79 "Edit: Bad Question"

[2016-10-11 10:33] #79 closed

[2016-10-13 08:57] pawelradeckihomify commented on #51
Hi there,

And what about serializing objects with json-converter and exposing them with JAX-RS?
Any hint how to do it would be more than welcome.

[2016-10-13 16:28] pawelradeckihomify commented on #51
Got it working with MessageBodyWriter<T>. So far it works!
Thanks for a good library.

[2016-10-14 13:08] Servus7 commented on #78
@emetsger It's an jsonapi-converter problem. Other libraries like [moshi-jsonapi](https://github.com/kamikat/moshi-jsonapi) are able to convert different types.

[2016-10-15 03:55] ericn37 commented on #78
https://github.com/faogustavo/JSONApi is also able to parse multiple types.
It used to be my favourite.
Their drawback is that they are are not be to handle circular reference properly 😭

However, is it a tradeoff?
Multiple types/ polymorphism ==> no circular reference
Circular reference (this libary) ==> no multiple types/ polymorphism

[2016-10-16 11:46] ericn37 commented on #77
Does this work with Retrofit guys?
What is `ItemType` @markoilicic ?

[2016-10-16 11:49] ericn37 commented on #48
I've tried this with Retrofit 2 but all I got is the **Vehicle** class, not the **Car** class

[2016-10-16 12:03] markoilicic commented on #77
@ericn37 yes, I'm using it with retrofit 2 and it works great... ItemType is just an enum which I use to identify the object type... you can use the same string which is used in @Type annotation...

@jasminb is it possible to make some public method for fetching Type that is used in @Type?

[2016-10-16 13:24] ericn37 commented on #77
Hi @markoilicic, could you help to shed some more light on your implementation please as I'm having problem achieving it?

Problem
[code]
Model:
[code]
Base Model:
[code]
Retrofit stuffs:
MyRESTClient.java
[code]
MyService.java
[code]

[2016-10-16 13:33] markoilicic commented on #77
@ericn37 you must add the BaseResource.class to the ResourceConverter too..

[2016-10-16 15:22] ericn37 commented on #77
Hi @markoilicic , in the case `BaseResource` cannot be `abstract`, can it?

[2016-10-16 15:30] markoilicic commented on #77
@ericn37 I'm using it as an abstract class, just like it's shown on the given example above with the Foo & Bar classes...

I create retrofit a little bit different:
[code]

[2016-10-16 15:40] ericn37 commented on #77
Actually, I think it doesn't really matter if `BaseResource` is abstract or not.
I won't be able to cast `BaseResource` to `MyModel` anyway.

How do you use Retrofit @markoilicic would you mind sharing a snippet of your code?

[2016-10-16 15:51] markoilicic commented on #77
@ericn37 why you can't cast `BaseResource` to the `MyModel`? It's working fine for me...

Retrofit interface should look like:
[code]

Or if you are using RxJava
[code]

I simply check the type of the BaseResource and cast it to right model,
e.g.:
[code]

If you debug response, you will see in the list that objects are properly parsed...

[2016-10-17 01:45] ericn37 commented on #77
Hi @markoilicic , I've debugged and the object I got after after de-serialised the JSON response from the server is a `BaseResource` object, not `MyModel` or anything else.
Hence the `ClassCastException`.

[2016-10-17 04:04] ericn37 commented on #78
@jasminb I've tried what you suggested, however, I only got `BaseModel` object, not the subclass.
When I try to cast, I got `ClassCastException`
[code]

[2016-10-17 07:08] markoilicic commented on #77
@ericn37 are you using SNAPSHOT or 0.4 version? I'm working with snapshot-0.5 since I have noticed that that is added after 0.4 version in mentioned commit...

[2016-10-17 07:09] ericn37 commented on #77
I'm using 0.5 version @markoilicic :)

[2016-10-17 07:11] markoilicic commented on #77
@ericn37 well.. :)
can you give snippets of your objects and how does response looks like?

[2016-10-17 07:26] ericn37 commented on #77
Hi @markoilicic ,
One response (type A) looks like this:
[code]

And the other (type B):
[code]

[2016-10-17 07:31] markoilicic commented on #77
@ericn37
add this to your app level `build.gradle`

[code]

can you provide model classes too? for the BaseModel, and both that comes into the response?

[2016-10-17 07:37] jasminb commented on #78
Hey,

What version of the lib you are using. Support for providing base type is SNAPSHOT only and not yet part of any release. Until new release is out, please use latest snapshot (example in the README).

[2016-10-17 07:43] ericn37 commented on #78
Hi @jasminb , I'm using 0.4. Will try the snapshot. Thanks :)

[2016-10-18 04:04] tbilsborrow opened #80 "Consider supporting @Id for int/long fields?"
It might be nice to be able to annotate an int or long field to use as the Id, and convert automatically to/from String upon serialization/deserialization (with an error if it is not possible to convert from a String in a json document to a number in a model class). I can submit a PR, but first wanted to check if there is fundamental opposition to the idea.

[2016-10-20 13:20] nikolafon opened #81 "Consider supporting serialization of collection as primary data"
When you pass collection as a data you will get
`java.lang.ClassCastException: com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to com.fasterxml.jackson.databind.node.ObjectNode`.
Primary data by JSON API specification can be array as well.
Please consider supporting it.

[2016-10-20 13:22] jasminb commented on #81
Hey @nikolafon, do you mind providing actual data here?

[2016-10-20 13:59] nikolafon commented on #81
Data is not of relevance. If you pass any collection of test objects you should get this error.
The conversion is the problem.
`
// Perform initial conversion
ObjectNode attributesNode = objectMapper.valueToTree(object);
`
method valueToTree(object) returns <T extends JsonNode> but ObjectNode is always expected.

[2016-10-20 14:40] jasminb commented on #81
JSONAPI Specification allows for collections but in a following way:

[code]

And not not like:

[code]

[2016-10-20 15:17] nikolafon commented on #81
I'm trying to create `JSONAPIDocument` with a collection passed as primary data to constructor.
I mean to serialize to JSON not from JSON to a `JSONAPIDocument`.
Am i doing something wrong?

[2016-10-20 20:26] jasminb commented on #81
Hey @nikolafon,

There is:

[code]

Have in mind that it was not upgraded to new API where JSONAPIDocument<> is used, but it should work for what you need.

[2016-10-20 21:16] nikolafon commented on #81
The reason I asked for collection serialization support is exactly that method.
Yes, there is option to use `writeObjectCollection(Iterable<T> objects) {}` but that method doesn't write "links" and "meta" to the root of the json api document which is also allowed by the standard.
Thank you for your answers.

[2016-10-20 22:20] jasminb commented on #81
Hey, I will add the new method that complies with the other ones that consume the JSONAPIDocument, it will support top level links/meta as all other methods do.

[2016-10-20 22:29] nikolafon commented on #81
Awesome. Thanks.

[2016-10-21 08:22] jasminb commented on #81
Hey @nikolafon, Ive pushed a new method we discussed about. Please make sure to use `0.5-SNAPSHOT` version since new release will take few more days.

[2016-10-21 08:26] jasminb commented on #80
Hey @tbilsborrow,

There is no reason not to as long as its serialised as `String` and converted properly back to whatever type user annotated with `@Id`.

It will make things interesting since lib than has to support `String -> whatever type` conversion for the id field.

[2016-10-24 09:09] ericn37 commented on #77
it works as of version 0.5 @markoilicic @jasminb
Thanks a lot guys!

[2016-10-24 10:01] jasminb commented on #77
Hey @ericn37,

Glad you got it working..

[2016-10-24 10:01] #77 closed

[2016-10-24 10:01] jasminb commented on #81
@nikolafon, 0.5 was released few days ago. Please give it a try and close the issue if it works out for you.

[2016-10-24 10:03] jasminb commented on #78
Hey @ericn37, did 0.5 solve the issue for you?

[2016-10-24 10:14] ericn37 commented on #78
Yes, indeed 0.5 did solve the problem, thanks @jasminb

[2016-10-24 10:14] #78 closed

[2016-10-24 10:56] nikolafon commented on #81
@jasminb Thank you for the effort. I didn't have time to take a look at it but I plan soon. We had different priorities. I will get back to u you.

[2016-10-24 11:21] nikolafon commented on #81
@jasminb Thank you for the effort. I didn't have time to take a look at it but I plan soon. We had different priorities. I will get back to u you.

[2016-10-24 13:01] nikolafon commented on #81
@jasminb I checked the version 0.5. It works as expected.
I'm closing the issue now.

[2016-10-24 13:01] #81 closed

[2016-10-25 07:26] nikolafon opened #82 "NullPointerException when serializing JSONAPIDocument and "primary data" is empty"
`ResourceCoverter` currently expects that data is always set in order for document to be serialized from Java objects to JSON.
Spec says:
"A document MUST contain at least one of the following top-level members:
data: the document’s “primary data”
errors: an array of error objects
meta: a meta object that contains non-standard meta-information."
If data is empty `NullPointerException` is thrown.

[2016-10-25 07:30] nikolafon opened #83 "Errors member of the JSONAPIDocument is missing"
Spec says:
"A document MUST contain at least one of the following top-level members:

data: the document’s “primary data”
errors: an array of error objects
meta: a meta object that contains non-standard meta-information."

As a developer I want to be able to serialize `JSONAPDocument` to JSON with only errors member set, currently this member is missing.

[2016-10-26 12:19] markoilicic opened #84 "Q: Unable to get 0.6-SNAPSHOT from sonatype?"
Hi @jasminb,
I'm not able to get snapshot version from sonatype.org.
When I go to the https://oss.sonatype.org/content/repositories/snapshots/com/github/jasminb/ there is just an empty directory. Do you maybe now the reason for that?

I need that version for collection serialisation support :)

Thx

[2016-10-26 12:53] jasminb commented on #84
Hey, use 0.5 release instead.

[2016-10-26 13:25] markoilicic commented on #84
@jasminb I tried, but I get same error `java.lang.ClassCastException: com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to com.fasterxml.jackson.databind.node.ObjectNode` like in the this issue.. https://github.com/jasminb/jsonapi-converter/issues/81

I thought that this commit fixes that issue: https://github.com/jasminb/jsonapi-converter/commit/ca4257a9ecdff69c5bfc9156bf7641f4afeabeff

[2016-10-26 14:25] jasminb commented on #84
Hey,

There is a problem with `JSONAPIRequestBodyConverter`, will fix it and push to `develop`, will make the snapshot release also and update you here.

[2016-10-26 14:43] #84 closed

[2016-10-27 06:39] markoilicic commented on #84
@jasminb Man, you are awesome :)

Thank you very much on your fast actions... Do you have a PayPal maybe? I would like to buy you a beer ;)

[2016-10-27 13:28] nikolafon opened #85 "Links on the primary data are not serialized to JSON"
When you add links to the primary data and try to serialize, links are missing in resulting JSON.

[2016-10-27 14:07] jasminb commented on #85
Make sure you enable appropriate `SerializationFeature`:

[code]

[2016-10-28 18:50] nikolafon commented on #85
Yes. That is set but it still doesn't work.

[2016-10-31 11:35] jasminb commented on #85
Hey @nikolafon, can you please provide example of how to reproduce the problem.

[2016-10-31 11:53] nikolafon commented on #85
Try serialize java object with` @Links` annotated field, to JSON.
I think the `ResourceConverter` tries to set links data node but fails.
`dataNode.set(LINKS, links.get(LINKS));` but the `links` is the object to set.

[2016-10-31 13:53] jasminb commented on #85
So, object that is being serialised has this:

[code]
?

[2016-10-31 13:59] nikolafon commented on #85
Yes, the annotation is there.

[2016-10-31 14:15] jasminb commented on #85
Is the correct type used?

Problem is that I cannot reproduce the issue, unit tests cover this functionality and it is working as intended.

See `SerializationTest.testFullSerialization()` for more details.

[2016-11-01 10:03] nikolafon opened #86 "Links class should implement Serializable interface"
I wonder why would not `com.github.jasminb.jsonapi.Links` implement serializable interface?
It is used in Serializable object anyway and it is to be serialized. Sonar, for example is complaining about links field not being serializable.

[2016-11-02 13:14] markoilicic opened #87 "JSONAPIDocument missing ObjectMapper if data is `null`"
Hi @jasminb,

I have the case where I only get some `meta` and `data`is `null`. In that case I'm not able to extract `meta` with `JSONAPIDocument.getMeta(Class<?> metaType)` because `private ObjectMapper deserializer;` is `null`..

When `data` is `null` document is created by the default constructor `public JSONAPIDocument()` and `ObjectMapper` is not provided...

Is this intentionally and is my r

[2016-11-02 13:35] jasminb commented on #87
Hey @markoilicic,

It is a bug. Will fix it.

[2016-11-02 14:23] #87 closed

[2016-11-02 14:49] jasminb commented on #83
Issue was fixed and pushed to `develop`.  Latest snapshot release can be used to test it.

In order to create `error` response factory method was added to the `JSONAPIDocument`:

[code]

One can either use provided `Error` class to construct errors (this class holds attributes recommended by the specification, or extend the `Error` class to roll customised error structure.

Since by specification,

[2016-11-02 14:50] #83 closed

[2016-11-02 14:52] jasminb commented on #82
This was fixed with https://github.com/jasminb/jsonapi-converter/commit/3eca3b9f71813b639d68cd9623f8fa9351cf89fb

[2016-11-02 14:52] #82 closed

[2016-11-03 04:54] rlazar commented on #63
+1  access for meta on relationships is needed.

[2016-11-17 14:28] StefMa opened #89 "Retrofit - Can't get top-level links and meta"
Hey @jasminb

we have the following json:
[code]

I got my `data` and `included` section fine with the `Retrofit` and your converter.

But how to get the top-level links and meta? 🤔
Is this possible at the moment? I guess not.
While debugging [I see](https://github.com/jasminb/jsonapi-converter/blob/3eca3b9f71813b639d68cd9623f8fa9351cf89fb/src/main/java/com/github/jasminb/jsonapi/ResourceConverter

[2016-11-17 14:38] StefMa commented on #89
![test](https://cloud.githubusercontent.com/assets/10229883/20393342/dd18982e-acdb-11e6-8df2-b4172676e3b1.gif)

[2016-11-17 14:38] #89 closed

[2016-11-21 22:34] peavers opened #90 "How to read incoming relationship data?"
Sorry I feel like this is obvious and I'm just missing something, but how I do I read the incoming relationship information? I have no problem creating relationship data when things are outgoing, but can't figure out incoming...

I have a very simple method
[code]
And the data inside `payload` looks like
[code]
How do I get the properties of the relationship node? Is that something I'd do outside

[2016-11-22 00:40] peavers commented on #90
Sorry ignore me, has been a very long day. I had plural names of my classes in the relationship annotations. 😞

[2016-11-22 00:40] #90 closed

[2016-11-22 14:07] jasminb commented on #63
Hey @Kylar42,

Got some time so I wanted to see what can be done related to meta on relationships.

By taking another look at the example that you provided, you need to be able to have access to `meta` that is `object` level and not `relationship` level.

To summarise, currently it is not possible to access relationship-level meta objects but if on object level, there is meta available, it can be

[2016-11-22 16:05] #63 closed

[2016-11-25 16:30] Magador commented on #51
@pawelradeckihomify So, how did you do it ?

[2016-11-29 16:23] hvgotcodes opened #91 "Better Documentation for Relationship Links"
I'm not seeing in the documentation how to get this library to output links in the relationships part of the json.  I see other issues indicating it's working; I just cant figure out how to get the links to output.

In my class I've done the following
[code]

but the resulting json-api only has data for this relationship, no links.

Any guidance?  Thank you in advance.

[2016-11-29 19:52] hvgotcodes commented on #74
@jasminb

Any update on when this will land?  Thanx.

[2016-11-29 21:30] #74 closed

[2016-11-29 21:32] jasminb commented on #44
Fixed.

[2016-11-29 21:32] #44 closed

[2016-11-29 21:35] jasminb commented on #91
Issue was fixed and pushed to develop. In order to use it, use the snapshot version of the library (release will be made in next few days).

Example model and mapping:

[code]

Links attribute will be both serialised and deserialised correctly.

[2016-11-29 21:35] #91 closed

[2016-11-29 21:36] jasminb commented on #74
Issue was fixed and pushed to develop. In order to use it, use the snapshot version of the library (release will be made in next few days).

Example model and mapping:

[code]

Links attribute will be both serialised and deserialised correctly.

[2016-11-29 21:53] hvgotcodes commented on #74
Is this supposed to work with relationships that are Lists?  Im not getting the link in the OP still.

[2016-11-29 21:57] jasminb commented on #74
It will work for both collection and single object relationship types.

Please note that annotation is added on the owning side of the relationship.

[2016-11-29 21:59] hvgotcodes commented on #74
Hmm I've done this

@Relationship(value="things")
    public List<Thing> things;

    @RelationshipLinks("things")
    private Links thingsRelationshipLinks;

And I'm not seeing the link the json.

Thank you for the prompt attention, btw.

[2016-11-29 22:05] hvgotcodes commented on #74
Hold off for a bit, I think I screwed up getting the snapshot.

[2016-11-29 22:08] jasminb commented on #74
One more note, `List<Thing> things` cannot be `null`, if relationship is null, links will be skipped.

[2016-11-29 22:09] hvgotcodes commented on #74
I was going to get to that. :)  Can the list be empty, and will the links be written?  Seems that is a valid case.

[2016-11-29 22:13] jasminb commented on #74
Empty is fine.

[2016-11-29 22:24] hvgotcodes commented on #74
Ok, I do have the right jar.  In the `getRelationshipLinks` method this line

[code]
is returning null, for the relationship I described.

[2016-11-29 22:30] jasminb commented on #74
Can you paste serialised content here, if the line you pasted returns null than links object (if actually not null) will be present as an regular attribute.

[2016-11-29 22:35] hvgotcodes commented on #74
I'm not sure what you are asking for.  The serialized json looks like

[code]

What is the links object you speak of?

[2016-11-29 22:39] jasminb commented on #74
So assuming your `root` class is named `Root`:

[code]

[2016-11-29 22:40] hvgotcodes commented on #74
Yes this is the problem, I have to populate the links.  I wonder if the framework should be able to construct the url though.

[2016-11-29 22:44] jasminb commented on #74
Its a good idea, I will consider it. It would be simple enough to extend current type/relationship annotations so one can provide uri related details, eg.

[code]

In the mean/time, you can construct it yourself as a workaround.

[2016-11-29 22:44] hvgotcodes commented on #74
Yes working on that now.   Again, appreciate the prompt replies.

[2016-11-29 23:13] adhamhf opened #92 "Link and Links is ambiguous, consider renaming?"
Hi,

I'm wondering if you would be open to change these names and/or packages.  The current names are leading to ambiguous package errors unless we add the complete package name to Link and Links.

These imports are valid:
[code]

However, if you have these in the same file then you have to do this:

[code]

To avoid the ambiguity.

[2016-11-30 08:35] jasminb commented on #74
Sure thing.

[2016-11-30 08:37] jasminb commented on #92
Hey,

Agreed that it is a bit confusing, sadly it would break things down completely if one of those is changed. I'm thinking maybe introduce new class for links and deprecate the old one.

[2016-11-30 23:39] hvgotcodes opened #93 "Enhance Relationship Links Annotations"
As a reminder, from [here](https://github.com/jasminb/jsonapi-converter/issues/74).

It would be simple enough to extend current type/relationship annotations so one can provide uri related details, eg.

@Type("root", uri="/api/v1/roots/{id}"

@Relationship("things", uri="/things")

[2016-12-01 12:49] jasminb commented on #93
Implemented and pushed to develop.

[2016-12-01 12:49] #93 closed

[2016-12-05 22:54] adhamhf opened #94 "inheritance and link serialization?"
Hi,

I'm trying to construct a self link for a parent child relationship.  I'm working on the snapshot so I have some of this which is great.  However I don't see how to get the parents into the @Type annotation.

What I would like to do is something like this:
[code]

So but the parent and child class have an id, but the child is not accessible directly.  You have to go through the parent to get

[2016-12-06 09:00] markoilicic opened #95 "Q: Get JSONAPIDocument as json string?"
Hi @jasminb ,

is there a way to easily convert JSONAPIDocument to Json string? I need to get body as string before adding it to the request as `@Body`..

Thx in advance  and sry if I have overseen some easy solution :D

[2016-12-06 09:08] jasminb commented on #95
Hey,

[code]

We could add new methods that return `String` directly but, why bother.

[2016-12-06 09:17] jasminb commented on #94
Hello,

Support for accessing `parent` is not there, here is why:

 - both parent and child should be first class citizens on your API

Parent path example:  `/v2/parent/{id}`
Child path example:  `/v2/child/{id}`

Relationship path: `self: /v2/parent/{id}/relationship/child`, `related : /v2/parent/{id}/child`

Please let me know if Im missing the point here.

[2016-12-06 14:22] markoilicic commented on #95
Thx a lot!

[2016-12-06 14:22] #95 closed

[2016-12-09 22:40] hvgotcodes opened #96 "How to include just certain relationships in serialized json-api?"
From the documentation, I think user can tell the library to add an `included` section to output json-api by add the `INCLUDE_RELATIONSHIP_ATTRIBUTES` feature to the `ResourceConverter`.

What if a model has a bunch of relationships, but you only want to have one in the `included` section of the json-api, and perhaps output the other relationships solely as links.

[2016-12-10 11:32] jasminb commented on #96
Hey,

Currently not possible. You either have them all or none. Its easy to fix tho, will make a commit in next few days and update you here.

[2016-12-12 17:37] hvgotcodes commented on #96
Cool.   Thank you for being so responsive.  As you know, Json-API is more than just a json format -- it specifies how clients should be able to request data from a server.  So sometimes we might want to load an object with no includes, and sometimes we might want to include only certain relationships.  Being able to specify that on a per-serialization basis would be helpful.

[2016-12-22 14:49] fatonarifi commented on #96
Hi @jasminb,

It would be great if we have this solution for the next few days, you are going to be my hero :).

Thanks a lot.

[2016-12-22 14:51] jasminb commented on #96
Hey @fatonarifi, its work in progress, will happen very soon.

[2016-12-22 21:58] uddyami opened #97 "optional data node"
according to this :
http://jsonapi.org/format/#document-top-level

[code]

My api responds with

+ Response 202 (application/json)
[code]

But i get error from resource converter since there is no data node

[2016-12-27 17:31] #96 closed

[2016-12-27 18:07] #97 closed

[2016-12-27 18:14] jasminb commented on #73
Closed as unrelated to the lib itself but rather to library used to fetch data from DB.

[2016-12-27 18:14] #73 closed

[2016-12-27 18:27] #68 closed

[2016-12-27 18:42] uddyami commented on #97
Thank you so much !!

[2016-12-27 18:50] #86 closed

[2016-12-27 18:51] jasminb commented on #85
Fixed in d074a91bc5569ef10e7f8e62f34687f774fb4ad2.

[2016-12-27 18:51] #85 closed

[2017-01-05 15:52] Kevinrob opened #99 "[Discussion] Allow unknow type in includes"
First, thank for this library!

I run into an issue where:
- I call a PATH with some includes of different type
- In the includes, there is a new type (not registered in my app)
- Exception throw at https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/github/jasminb/jsonapi/ResourceConverter.java#L398

I think that it can be good that the converter allow (and support) an unk

[2017-01-05 15:53] Kevinrob commented on #99
For illustration, I have do it with an old version of this library (0.5 I think):
https://github.com/Kevinrob/jsonapi-converter/commit/8fb734f9679dc52de21098f5ae94a15a59a93600
https://github.com/Kevinrob/jsonapi-converter/commit/f42905dd5ae6109f22806a8d29e9a7d1134c2a68

[2017-01-05 23:03] jasminb commented on #99
Hello @Kevinrob,

One way to do it would be to add global deserialisation option that allows for unknown type(s) on included documents.

Will add it in next few days and update you here.

Thanks for reporting.

[2017-01-09 15:48] fatonarifi opened #100 "Back relationship from INCLUDE"
Hi @jasminb ,

Is it the back relationship possible with the current API? I couldn't find anything relating to this on the API documentation. Here is one example what I want to achieve:

[code]
Thanks a lot for your support and Best Regards.

[2017-01-11 05:09] peavers opened #101 "[Help request] how to deal with infinite recursion exception when saving both sides of relationship"
Using mongodb and storing both sides of the relationship in each objects blows up when trying to retrieve an object.

[code]

I can fix this by removing one side of the relationship in the database but what if I want both sides saved?

An example might look like:

[code]

[code]

If I remove the `@Reference` from the thumbnail things will work as expected, but then the thumbnail has no notion of w

[2017-01-11 18:51] jasminb commented on #101
Hey,

Just to clarify, you encounter a problem when attempting to serialise `Movie` object that has thumbs with back-references to `Movie`?

[2017-01-11 18:55] jasminb commented on #100
Hey,

Does this unit test fit into your use-case;

[code]

[2017-01-11 19:01] peavers commented on #101
Correct!

On Thu, 12 Jan 2017, 07:51 Jasmin Begic <notifications@github.com> wrote:

[2017-01-12 14:24] fatonarifi commented on #100
Hi,

Thanks for your quick response.
It is exactly my user-case, but I cant make this thing working.
I am using SPRING-MVC and here is one example from my approach:

[code]
am i doing here something wrong?

Thanks a lot for your support.

[2017-01-12 19:30] adhamhf opened #102 "push new 0.7 release to maven central?"
Hi,

When do you plan to push a 0.7 release to maven central.  It seems to be working great for us and since we are on gradle having it released would make our lives a bit easier.

thx.

[2017-01-13 15:21] jasminb commented on #102
Hello,

There is nothing on develop currently that is not part of 0.6 release version.

Regards

[2017-01-13 15:24] jasminb commented on #100
Hey,

You should avoid creating `ResourceConverter` instance on each request, it is thread-safe and should be created once.

Also, you need to register all the resources with the resource converter (both `Author` and `Article`).

[2017-01-17 19:09] tklovett commented on #99
Hey @jasminb, I went ahead and created a PR for this, I hope I captured what you were envisioning for this feature. Please let me know if you want me to change any formatting/commenting/testing/behavior or anything.

[2017-01-21 00:00] emetsger opened #104 "Pagination of related resources"
Let's say you had a simple model of a `Book`: made up of `Chapter`s and `Page`s.  An example `chapter` might look like the following, with a relationship to its pages:
[code]

In your `Chapter` Java class you might have something like:
[code]

The question is, what would `pages.size()` return if the server paginated the response, and only returned 10 `page` objects at a time:
[code]

My understand

[2017-01-21 00:21] emetsger commented on #104
Just thinking out loud...

It's not really feasible to implement a custom `RelationshipResolver` because it simply returns a byte array.  Even if you were to deserialize the byte array into an object and recursively retrieve all the pages, you'd have to reduce all of the pages into a single response which sees sub-optimal.

Another place to handle this might be in `ResourceConverter# handleRelatio

[2017-01-21 01:09] emetsger commented on #104
Hm, maybe `ResourceConverter#handleRelationships(...)` is the right place: https://gist.github.com/emetsger/7840d1ec13223f19e1fa4d9bc43fe19f

[2017-01-21 01:56] crcsaenz opened #105 "Circular relationships including the `data` resource not being resolved properly during deserialization"
Hi @jasminb! I'm seeing an issue with circular relationships, perhaps similar to https://github.com/jasminb/jsonapi-converter/issues/100, but regarding deserialization. Given models like:
[code]
and the following JSON from my API request:
[code]
When I execute the following:
[code]
I end up with `user.campaign.owner` being an empty object (only the `id` field is populated). I would expect `(user =

[2017-01-25 08:51] rlazar opened #106 "Serialization of objects with null Id crashes."
Commit https://github.com/jasminb/jsonapi-converter/commit/d074a91bc5569ef10e7f8e62f34687f774fb4ad2 introduced a crash when accessing the id of an object that was not populated.
I think it's an extremely common scenario sending to the server an object with null ID in resources creation flows (being server's responsability to generate that ID).

[2017-01-26 22:25] jasminb commented on #106
Hey,

Can you describe steps required to reproduce the issue?

[2017-01-26 22:27] jasminb commented on #105
Hey,

Thanks for reporting and providing steps to reproduce. Will take a look and fix it.

[2017-01-26 22:43] jasminb commented on #104
Hey @emetsger,

All your points are valid, current state of the lib does not allow for paginated relationship handling.

Lib should allow both options: eager fetching (your solution) and a way to get paging info in order to allow users to paginate.

Ideally tho, lib could proxy the relationship object and abstract away the pagination.
Proxy would allow for iteration but it has its problems, eg. `s

[2017-01-26 22:45] #102 closed

[2017-01-26 22:45] jasminb commented on #99
Resolved in `develop`, use snapshot version for testing.

[2017-01-26 22:45] #99 closed

[2017-01-26 23:16] tklovett commented on #99
What's the schedule for releasing a new version with this commit?

Thomas Lovett
tklovett@gmail.com

sent via mobile

On Jan 26, 2017 4:53 PM, "Jasmin Begic" <notifications@github.com> wrote:

[2017-01-27 09:28] rlazar commented on #106
Scenario is pretty simple. Having a class like

[code]

In order to create an ObjectDTO resource server side suppose you POST or PUT the serialization of an instance of this class to some /objects collection server side without setting the @Id annotated field - server should assign an ID and return the newly created instance as a result of the POST/PUT operation.

The problem is that when you try

[2017-01-27 09:29] emetsger commented on #104
Hi @jasminb,

Yes, I initially used an eager approach in my fork, but in the end I implemented a lazy approach.  I don't think we will be able to use my code as-is for a number of reasons†, but perhaps the concepts could be adapted into a suitable solution for inclusion into your library.

I think there are a couple of things to consider, as you point out above:
- there would need to be some abstr

[2017-01-27 15:22] #106 closed

[2017-02-10 05:24] MrThreepwood opened #107 "Serializing objects"
The wiki is rather lengthy, and there's even a section on serializing objects in it with example JSON string outputs, however, no examples of how to actually convert an object to a string. There are also no methods on a ResourceConverter object that returns a string. A more detailed example of this would be useful.

[2017-02-12 17:12] jasminb commented on #107
Hey @MrThreepwood,

To create a `String` out of `bytes []`, you can: `new String(byteArray)`.

[2017-02-12 17:12] #107 closed

[2017-02-18 06:47] crcsaenz commented on #105
@jasminb Any update on this? Any way I can be helpful?

[2017-02-18 15:43] jasminb commented on #105
Hey @crcsaenz,

Will try to fix it soon, its not a simple fix due to how caching/parsing is done.

[2017-03-14 06:26] srividyak opened #109 "Unable to map attribute in json API response to a field in the deserialized object"
The json API response has 2 attributes:

1. field called "result-provider"
2. another field called "name"

The class that this json gets deserialized to, looks like this:

class Test {
  public String resultProvider;
  public String name;
}

The field "name" gets populated properly in the Test object but not resultProvider. How can we map attributes to whatever fields that we want? I tried tracing

[2017-03-14 07:27] Kevinrob commented on #109
You can use `com.fasterxml.jackson.annotation.JsonProperty` annotation on your field

    @JsonProperty("result-provider")
    public String resultProvider;

[2017-03-14 07:40] srividyak commented on #109
@Kevinrob Great! This works. Thanks!

[2017-03-14 07:40] #109 closed

[2017-03-21 00:22] dulleh opened #110 "ClassCastException in ReflectionUtils.java:64"
Hi, I'm having this problem and it seems to have shown up rather randomly (all tests were working before, now only the Genre test seems to be). The relevant code is below, essentially trying to instantiate a `ResourceConverter` is giving a `ClassCastException`. I've tried commenting out the Relationship stuff and the code then works, so I suspect it's something to do with the `Anime` class. I'm no

[2017-03-21 00:55] jasminb commented on #110
Hey,

Is `Anime` type extending or implementing collection interface?

This:

[code]

Returns `true` which leads to the issue.

[2017-03-22 22:32] dulleh commented on #110
Hi, thanks for getting back to me. The `Anime` model does not implement nor extend from collection, but it does contain many relationships of the form:

[code]

Would those be problematic?

[2017-03-22 22:44] jasminb commented on #110
Hey, It seams you have something like `List<?>`.

[2017-03-22 22:56] dulleh commented on #110
I don't think that's the problem, however. It's not extending from it, and the code was working perfectly with those lists until recently.

[code]

This class, for example, passes.

[2017-03-22 23:01] jasminb commented on #110
So, using reflection field is resolved to be assignable to 'Collection`, after this condition is met, type needs to be resolved so it can be handled properly. Usually, if generic is typed, getting the type returns the type class object, in this case `sun.reflect.generics.reflectiveObjects.WildcardTypeImpl` is returned which causes the class cast exception. If you provide entire offending class, I

[2017-03-22 23:24] dulleh commented on #110
Ah! I've found the offending line (purely on a hunch!).

We have a model that `Anime` extends from called `Media`:

[code]

[2017-03-22 23:40] dulleh commented on #110
This still works:

[code]

[2017-03-22 23:49] dulleh commented on #110
@jasminb I think this is probably the clearest example of where the error is:

[code]

It seems to me to be a problem with having the `open` keyword in Kotlin. Any ideas?

[2017-03-22 23:53] jasminb commented on #110
It boils down to kotlin->java interoperability. Will take a look and see if something can be done. Only thing you can do now is to use 'final' classes instead of base models.

[2017-03-23 00:12] dulleh commented on #110
@jasminb thank you so much for the help. Sorry it boiled down to something out of your control!

For reference's sake, we created a `MediaObject` which merely extends from `Media` and use that in the relationship.

Feel free to close this issue :)

[2017-03-23 00:14] jasminb commented on #110
Thanks for reporting, will put up a note for kotlin users for future reference.

[2017-03-23 00:14] #110 closed

[2017-03-24 17:24] pchampau commented on #106
Thanks for fixing this. We hit that problem on 0.6.

[2017-03-26 18:46] elirangoshen opened #111 "Failed to parse json with included"
Hi ,
i cannot parse these data i get unknown resource type error...
and i tried to annotate the include data with Relationship..

Can you give an working example how to do it ?

[2017-03-26 18:51] jasminb commented on #111
Hello @elirangoshen , did you go trough the README?

In order to use `ResourceConverter', it has to be instantiated using relevant classes:

[code]

[2017-03-26 18:54] elirangoshen commented on #111
Yes.. but i'm using these converter with retorift 2 :

thats my relevant code :

ObjectMapper objectMapper = new ObjectMapper();

            resourceService = new Retrofit.Builder()
                    .baseUrl(getBaseUrl())
                    .addConverterFactory(new JSONAPIConverterFactory(objectMapper,
                            Chemical.class,
                            AdulticideApplicati

[2017-03-26 18:56] jasminb commented on #111
You can use following factory constructor:

[code]

This will allow you to enable/disable serialisation/deserialisation options.

[2017-03-26 18:57] elirangoshen commented on #111
thats what i did..whats should i enable ? serialisation or deserialisation ?

[2017-03-26 18:59] elirangoshen commented on #111
does there is example that parse included that i can see ?
from what i saw i need to annotate it with relationship , and enable relationship flag in the converter.. but i'd love to see working example

[2017-03-26 19:03] jasminb commented on #111
Please take few minutes and go trough the https://github.com/jasminb/jsonapi-converter/blob/develop/README.md.

It has section that shows example with both simple and collection relationships. Another source of information are unit-tests that demonstrate the things you need.

If relationships are named correctly, library should work without any additional settings other than specifying list of cla

[2017-03-29 16:22] elirangoshen opened #112 "how i can get json via created JSONAPIDOCUMENT ?"
i didnt see it in docs

 i want to create this json this time.. how can i do it ?

[2017-03-29 20:00] jasminb commented on #112
Hello,

`ResourceConverter` returns `byte []`, you can simply do: `new String(bytes)` to get it.

[2017-03-29 20:00] jasminb commented on #111
Hey @elirangoshen, if you managed to resolve your issues please close the issue.

[2017-03-30 07:01] markoilicic opened #113 "Relationship that is in main data list not connected"
Hi @jasminb,

we have a situation where we don't get a relationship that is already included in the main `data` set.
I'm not sure if I have overlooked something or this is already fixed?

Example:

`{
  "data": [
    {
      "type": "stores",
      "id": "1",
      "attributes": {
        "name": "Name"
      },
      "relationships": {
        "company": {
          "data": {
            "type":

[2017-03-30 13:39] jasminb commented on #113
Hey @markoilicic,

First problem that I see here that there are resources of different type on the same level. Deserialisation content dictates that collection elements must be of the same type.

Now as for resolving relationships, specification says that `included` section is used for this purpose, resources are not dereferenced or should be dereferenced using other resources from the `data` sect

[2017-03-31 12:47] markoilicic commented on #113
@jasminb

I don't think that it's specified that array should not contain different resources types..

Regarding the issue, API team is also using some library for this which is not duplicating relationships if they are already in the main `data` set. As I mentioned in the previous post, this is mentioned by the JsonApi contributor:

You can check it on this link: https://github.com/json-api/json-

[2017-03-31 15:29] jasminb commented on #113
Fact that its not explicitly forbidden does not mean that it should be used. I am creating/using APIs for a long time and I have never seen an API that returns collections of random objects.

As for dereferencing relationships, spec says:

[code]

Design decisions made during lib development were driven by specification text and examples provided, as usual, folks are pushing loose specification in

[2017-04-02 08:18] #112 closed

[2017-04-02 08:19] #111 closed

[2017-04-11 10:35] mfeltmann opened #114 "Unable to retrieve non-JSONAPI JSON objects"
# Given JSON structure example

[code]

# Expectation
I'd like to somehow get those contact information into my deserialized model (and back into the serialized JSONAPI as well later) but I cannot.
The preferred type would be a plain simple string holding the whole JSON array.

# Things I've tried already
* Using simple collection classes supported by Jackson. Works well with arrays containing sim

[2017-04-11 10:44] jasminb commented on #114
Hey,

Did you try something like this:

[code]

[2017-04-11 11:13] mfeltmann commented on #114
Didn't use some JSONConverter object right now. Where can I find it?

[2017-04-11 11:34] jasminb commented on #114
Hey @mfeltmann, if you change your class to look like this:

[code]

It will work with resource converter, `JSONConverter` is not relevant and was used to demonstrate that it is possible to use list of  Map<String, String> as an attribute with jackson.

[2017-04-11 11:45] mfeltmann commented on #114
The issue hunted down:

[code]

This causes the following completely correct exception:

at [Source: N/A; line: -1, column: -1] (through reference chain: de.rotary.models.dataexchange.PersonDEO["family"]->java.util.ArrayList[0]->java.util.LinkedHashMap["contactInformation"])

However, setting the member to something more abstract like this seemed to do the trick:

[code]

Thank you for your time a

[2017-04-11 11:45] #114 closed

[2017-04-13 10:33] markoilicic commented on #113
Thank you for your response, It's really frustrating how everyone is interpreting documentation differently and different libraries are doing things differently. I will close this issue since I can't argue with you anymore :D
I'll probably have to fork your library and implement this changes since both API's and iOS's libraries are working the same...

Anyway, thank you as always for great library

[2017-04-13 10:33] #113 closed

[2017-04-13 15:05] returnt commented on #77
How to parse an array of this type

`{
"data": [
{
"type": "likes",
"id": "69",
"attributes": {
"user": 1,
"post": 250
},
"relationships": {
"user": {
"data": {
"id": "1",
"type": "users"
}
}
}
},
{
"type": "likes",
"id": "68",
"attributes": {
"user": 3,
"post": null
},
"relationships": {
"user": {
"data": {
"id": "3",
"type": "users"
}
}
}
}`

[2017-04-17 16:50] uddyami opened #115 "relationship meta when relationship is a collection"
[code]

how do i access message ???

[2017-04-20 19:56] micheljung commented on #106
Would be lovely if this project made use of Milestones and release bugfixes more often :-) Meanwhile I'll use jitpack.io in order to avoid using the 0.7-SNAPSHOT.

Keep up the good work, I'm very thankful you made this!

[2017-04-20 21:10] kennycason opened #116 "Support Id that is non-string."
During serialization I noticed the Id has to be String. We have many models where the Ids are integers. Is there any plan to be more flexible with this?

[2017-04-20 21:58] jasminb commented on #116
Hey @kennycason,

Specification specifies that the id must be `String`, thats the reason for rigid approach taken. It would be really easy to allow non-string attributes during serialisation but deserialisation becomes a problem where handling would have to be put in place in oder to handle string to target type conversions. I will think about how to make this pluggable so custom converter can be

[2017-04-20 22:02] jasminb commented on #115
Hey @uddyami ,

Did you try creating a class:

[code]
And than add it as a property to the `Article` type and annotate it with `@Meta`

[2017-04-21 17:55] kennycason commented on #116
Thanks. Yeah makes sense from a specification standpoint. Unfortunately in practice many ids are integers. Most of the ids I'm currently dealing with are UUIDs fortunately, but there are a few giving me a problem.

[2017-04-21 21:13] kennycason opened #117 "How to handle creating resource that doesn't yet have Id."
http://jsonapi.org/format/#crud-creating

I am having problems creating a resource because the resource converter has a hard requirement that ID is present. Is there a way around this? This is important because when creating a resource, no Id exists yet. So far, this seems to be the final road block in allowing me to completely implement this tool into our projects.

For reference, I created a Mes

[2017-04-21 21:35] jasminb commented on #117
Hey @kennycason, it is possible to disable id requirement during deserialisation:

[code]

[2017-04-21 21:36] kennycason commented on #117
awesome!! Thanks for the quick response!

[2017-04-21 21:56] #117 closed

[2017-04-22 16:05] jasminb commented on #116
Hello @kennycason,

I've added support for non-string resource identifiers in 2a06cc2f6bd5c6efed3f0f3ff2516785bc3474aa.

`@Id` annotation was extended with optional argument which if provided overrides default identifier handling.
New interface has been provided that needs to be implemented for custom type handling (`ResourceIdHandler`).

Besides providing default `String` handler, lib also provid

[2017-04-22 16:07] jasminb commented on #80
Hey @tbilsborrow,

Support for non-string resource identifiers has been added in 2a06cc2f6bd5c6efed3f0f3ff2516785bc3474aa.

`@Id` annotation was extended with optional argument which if provided overrides default identifier handling.
New interface has been provided that needs to be implemented for custom type handling (`ResourceIdHandler`).

Besides providing default `String` handler, lib also pro

[2017-04-22 16:07] #80 closed

[2017-04-23 02:36] kennycason commented on #116
@jasminb Thanks a lot. This will work perfect. :)

[2017-04-23 03:39] kennycason commented on #116
Integrated into my project and confirmed this works like a charm. Thanks again.

[2017-04-23 03:39] #116 closed

[2017-04-25 16:28] jordanmueller opened #118 "How to get multiple resources from Included array to a related List attribute"
Thanks for a great library!

I'm trying to get a List of Users populated in the Status object, but it keeps coming up null.

I've updated the Status and User resources and classes from this project's test directory.  I removed many of the other fields and annotations to get to the core of the issue I am seeing.

Here is my updated jsonapi response for Status and Users:

[code]

Here is the Status.

[2017-04-25 19:06] jasminb commented on #118
Hey @jordanmueller, relationship object is not properly structured.

It should look like this:

[code]

Not that all user references are inside data array.

[2017-04-25 19:25] jordanmueller commented on #118
Thanks @jasminb

That worked!

[2017-04-26 19:53] Stamatiadis-S opened #119 "Cannot deserialize relationship."
I have an issue during deserialization. All poll attributes are deserialized normally but the creator relationship stays null. I cannot see anything wrong with my setup.

Using version:
[code]

Service:
[code]
Models:
[code]
[code]
Example paginated GET response:
[code]

[2017-04-26 20:32] jasminb commented on #119
Hey @Stamatiadis-S,

You should change `Relationship` value from `users` to `creator`.

Regards

[2017-04-26 20:40] Stamatiadis-S commented on #119
I thought it was a pointer to the related class. It works now.
Thank you for your fast response and your efforts. This library is very helpful! 🥇

[2017-04-26 20:40] #119 closed

[2017-04-27 11:27] jasminb commented on #118
Closing since problem was fixed.

[2017-04-27 11:27] #118 closed

[2017-04-27 14:23] uddyami commented on #115
The problem is its not a meta on the object but in that relationship. If same article is in relationship with another person this breaks the idea

[2017-04-27 16:31] joaopedro1520 opened #120 "StringIdHandler has no zero argument constructor"
Hello,
Since you updated  the annotations to support non string ID i've been getting this crash using the 0.7 version.
Caused by: java.lang.InstantiationException: java.lang.Class<com.github.jasminb.jsonapi.StringIdHandler> has no zero argument constructor

All my model classes have empty constructors and it always worked well so far.

Any solutions?
thanks

[2017-04-27 16:33] jasminb commented on #120
Hey,

Can you please provide a test case that reproduces the issue.

Regards

[2017-04-27 16:46] jasminb commented on #115
Hello @uddyami,

It seams that `relationships` object that you provided as an example is invalid, it should look like this:

[code]
Please see this example on the spec: http://jsonapi.org/format/#document-compound-documents

To access `relationship` meta, define an attribute with `RelationshipMeta` and set its value to the name of the relationship, in this case `articles`.

[2017-04-28 08:10] joaopedro1520 commented on #120
The error is the following
[code]

I have a bunch of classes like this

[code]
And all the initialization of the okhttp client is as follows:

[code]

This setup always worked and only started crashing on start up after the last update that enables the possibility of non string Id anottation

Thanks

[2017-04-28 08:29] jasminb commented on #120
Hey,

Are you using proguard, can you try disabling it and testing the same thing?

Regards

[2017-04-28 08:40] joaopedro1520 commented on #120
Yeah, but same thing happens with or without proguard

[2017-04-28 08:49] jasminb commented on #120
Hey,

Could be that the reason is absence of explicit default constructor.

We can test it in two ways:
 - I will add explicit default constructor to id handler classes and update snapshot version
 - you can provide your own `StringIdHandler` implementation that has a explicit default constnructor and reconfigure your classes to use it:

[code]

Than using it:

[code]

[2017-04-28 10:06] joaopedro1520 commented on #120
So I updated to the snapshot version and that alone was not enough. Only after adding the custom ID the app stopped crashing

[2017-04-28 10:38] jasminb commented on #120
Hey,

Could be that it takes some time for snapshot repo to start serving latest version (0.8). Please try again and let me know so I can push 0.7.1 release that fixes this issue.

Thank you for reporting and helping to resolve the issue.

Regards,
Jasmin

[2017-04-28 11:16] joaopedro1520 commented on #120
I tried again and the error is still there. I even deleted the cached dependencies but just updating to the snapshot version doesnt solve it

[2017-04-28 11:28] jasminb commented on #120
I've downloaded snapshot version manually from sonatype repository, here are the contents for the `StringIdHandlerClass`:

[code]

Sadly, it appears that there is something in your pipeline that is breaking things. If you can setup base android project that reproduces the issue and push it to github, Ill be more than happy to clone and debug the issue.

[2017-04-28 11:40] PedBerTor opened #121 "Include the converter"
Hi. My name is Pedro and im doing a hybrid application for university. Im using an api of a page called Kitsu (https://kitsu.io/). The response has json+api format. This is my class:

![captura](https://cloud.githubusercontent.com/assets/16528784/25527118/7d58b48a-2c17-11e7-8d27-7b6403b77cf3.JPG)

As you can see i use all MediaTypes because i do not know how to include only json+api or if even exi

[2017-04-28 11:48] jasminb commented on #121
Hello Pedro,

In order to use the lib with restlet client, you will need to implement a `Converter` based on the `ResourceConverter` provided by the lib and than register it with the `ClientResource`.

I hope this is helpful for you.

Regards

[2017-04-28 12:46] kowalski89 commented on #115
Hey @jasminb
To be more specific, what @uddyami meant is that we having problems with deserializing following response:
`
{
  "data": {
    "type": "people",
    "id": "9",
    "attributes": {
      "first-name": "Dan",
      "last-name": "Gebhardt",
      "twitter": "dgeb"
    },
    "relationships":{
      "publishers": {
        "data": [
          {
            "type": "publisher",

[2017-04-28 12:48] kowalski89 commented on #115
Hey @jasminb
To be more specific, what @uddyami meant is that we having problems with deserializing following response:
[code]

So seems like your lib replaces Resource Identifier Object "articles" inside Publisher relationships with full Article model from "included". BUT it ignores and doesn't merges meta block of Resource Identifier Object into Article model.
But according to JSON API Specs we

[2017-04-28 13:08] joaopedro1520 commented on #120
Just a random thought. Shouldnt you override the methods in string id handler just like in the longIdHandler?
The custom you sent me to try is also overriding the methods asString and fromString

[2017-04-28 13:19] jasminb commented on #115
Hey @kowalski89,

Sadly, there is no handling for the meta on the `identifier` object.

Just few days ago, I've introduced support for custom identifier object, maybe it could be extended to support meta on identifiers also. Let me think about it some more.

If you guys have ideas, please do not hesitate to write them here so we can discuss and move this forward.

Regards

[2017-04-29 00:30] dulleh commented on #117
Correct me if I'm wrong, but a similar option to disable the requirement for an ID does not exist for serialization. i.e. there is no way currently to convert from a java object that has no ID to json?

[2017-04-29 21:05] PedBerTor opened #122 "jsonapi mapping"
Hi! I´ve just added all annotations to my model classes following README.md instructions. In order to mapping jsonapi server response into model classes, which part of README.md i have to use? Thanks.

[2017-04-29 21:08] #122 closed

[2017-04-29 21:44] PedBerTor opened #123 "Mapping jsonapi server response into model classes"
Hi! I've just added annotations in my model classes following the steps of README.md but i do not know how to continue. I'm going to describe my project to you in order to know if you can help me.

I'm using an app called Kitsu (https://kitsu.io/) for request all information about animes (japanese tv series). This is an example about kitsu api response:

**{"data":[{"id":"486","type":"anime","link

[2017-05-18 12:04] dude71 opened #125 "Do not include empty Meta on DataNode"
Currently inside ResourceConverter.getDataNode() meta data is included on the DataNode when it's empty (no children). Can you include a check for empty meta data just like it's done in ResourceConverter.serializeMeta() ? Something like:

if (meta != null && !meta.isEmpty(null) && shouldSerializeMeta(settings)) {
   dataNode.set(META, meta);
}

Cheers,

[2017-05-19 18:27] kennycason commented on #117
@dulleh I would have to check, since I hadn't encountered that case yet. I think the idea is that if a resource is being returned it should have an Id, else it probably isn't really a resource.

[2017-05-20 11:42] dulleh commented on #117
@kennycason It's a very similar case to yours: the resource does not exist in the remote DB and we are trying to send a `POST` to have it made but in order to do so need to serialize an object that doesn't have an ID yet (because it doesn't exist yet). Without an ID set the ResourceConverter throws a NullPointer when serializing.

[code]

Currently I'm just setting a temporary ID and stripping it

[2017-05-20 17:09] jasminb commented on #117
@dulleh, can you provide a test case that produces the error?

[2017-05-22 15:55] kishoresiri commented on #28
Row
{
@relational
Subtable subtable;
}

Subtable
{
@RelationShipLinks
List<Row> rowList;
}
Response
{
List<Row> rowList;
}

when i try to convert above response object  to JSON then josn object  is not containing any relationship / include....
how to resolve this issue?

[2017-05-22 15:57] kishoresiri commented on #28
Row
{
@relational
Subtable subtable;
}

Subtable
{
@relationshiplinks
List<Row> rowList;
}
Response
{
List<Row> rowList;
}

when i try to convert above response object to JSON then josn object is not containing any relationship / include....
how to resolve relations ?

[2017-05-30 15:04] bradroid opened #126 "JSONAPIConverterFactory - compatibility with other response types"
I have existing retrofit instance built like this:

[code]

This instance of Retrofit is used to build API interface which contains a lot of legacy endpoints, not integrated with your library.

I would like to use the same `Retrofit` instance, modify it's creation to add JSONAPI converter  like this:

[code]

Then, I would like to add new API endpoint definitions to existing retrofit interface, an

[2017-05-30 15:10] jasminb commented on #126
Hey,

I will take a detailed look at this, in the meantime, there is a method to register `alternative` factory to the `JSONAPIConverterFactory`:

[code]

[2017-05-30 16:52] bradroid commented on #126
Hi, thanks for proposition but it won't work, because it crashes in the first line of `responseBodyConverter` implementation, when trying to create a RetrofitType instance. Alternative factory is used few lines below, the code will never reach it.

Maybe you should also give your `alternative factory` functionality a second thought, because I think the same behavior can be achieved by setting mult

[2017-05-30 17:22] bradroid commented on #126
I messed up the order in the first post (it doesn't resolve the problem, only the code example was incorrect, my code still crashes), it should be like this:

[code]

This way, retrofit will prefer to use jsonApi converter, but fallback to gson if jsonApi converter signals it can not handle the conversion (e.g. returns null from `requestBodyConverter` method). It's the same as alternative factory

[2017-06-01 22:07] shiyang-fei opened #127 "Need help with converting a POJO to JSONAPI format string"
Hi,

When reading about the docs in this repo, all I can see is to covert a JSONAPI format json string to a POJO. Is there a way to do the conversion in the reversed way?

[2017-06-01 22:21] shiyang-fei commented on #127
I found the answer. Closing this ticket.

[2017-06-01 22:21] #127 closed

[2017-06-19 10:30] bradroid commented on #126
@jasminb Hi, any update for this? Do you accept pull requests... I might find the time to fix this, unless you already started :)

[2017-06-19 10:38] jasminb commented on #126
Hey @bradroid, feel free to fix it and create a PR.

[2017-06-19 20:06] crcsaenz commented on #105
@jasminb I've submitted a pull request that fixes this issue #129

[2017-06-20 17:36] shyamalprasad opened #130 "Removal of relationship from attributes fails when property naming strategy is used"
If an `ObjectMapper` with a `KEBAB_CASE` property naming strategy is used we find that any relationship members that have camel cased names do not get removed from the `attributes` of the JSON generated. We will end up with two copies of the member: one (wrongly) in the attributes, and the other (as expected) in the relationship and/or included sections.

For example, using a declaration like this

[2017-06-21 06:17] prawana-perera opened #131 "Throw specific exception when actual type to be used for resource deserialization does not exists"
Hi, Thanks for this great and simple to use library.

This is more of a feature request than an issue.

**Version**
0.7

**Context**
We are using this library with our Spring controller to produce and consume JSON-API data from our API clients. We have a specific Spring `HttpMessageConverter` (employing the `ResourceConverter`) to serialise/deserialise `JSONAPIDocument` responses/requests.

Say we

[2017-06-22 14:22] bradroid commented on #126
@jasminb https://github.com/jasminb/jsonapi-converter/pull/132

It fixes the issue but I think we can design the whole class better to avoid any problems, please check it out.

[2017-06-22 14:26] jasminb commented on #126
Hey @bradroid,

Feel free to create another PR that handles your concerns on design issues.

[2017-06-28 06:49] prawana-perera opened #134 "Throw specific exception when JSON string to deserialise is not valid JSON-API"
**Version:**
0.7

**Context:**
This is similar to #131. It would be nice to throw a specific exception e.g `InvalidJsonApiResource`. This is in `com.github.jasminb.jsonapi.ensureValidResource`.

Thanks.

[2017-07-02 19:35] dulleh commented on #117
Seems I was a bit off the mark earlier, I didn't notice that it occurs only when you've also set a relationship object. Example below, where the `User` object is a `@Relationship`

            Status status = new Status();
		//status.setId("id");
		status.setUser(new User());

		byte[] rawData = converter.writeDocument(new JSONAPIDocument<>(status));

This throws the NullPointerException as expect

[2017-07-07 11:58] dulleh opened #136 "Relationships that can return multiple types"
So we have an issue with the kitsu.io api where a relationship we need can return one of two different types (in our case, `mediaRelationship.source` can be either an `anime` or a `manga`). I've written a test case which fails for unknown reasons, and was thinking perhaps you could help.

The test consists of a parent object that contains two child objects with the same `@Relationship` annotation

[2017-07-25 09:27] Kevinrob commented on #136
I do something similar with #108 😃

[2017-07-27 14:12] dulleh commented on #136
@Kevinrob your PR does not resolve the issue as the returned object will be parsed just for the fields in the interface rather than as it's own object.
In case that's not clear, here's what I mean: if we have a `Parent` model with a `child` field that can receive a `Son` or `Daughter` (`implements Child`) from the API, the json will be parsed as a `Child` rather than a `Son` or `Daughter`. We want

[2017-08-02 15:56] Kevinrob commented on #136
@dulleh I don't think that what you said it's right. I use it in production and relationships declared with an interface are deserialized to the correct type.

[2017-08-02 18:28] dulleh commented on #136
It seems @Kevinrob is right, sorry about the confusion. I was under the impression that when you do something like `Parent item = new Child()` it casts the `item` as a `Parent` and therefore loses any additional information that a `Child` has (it doesn't). I've learned something fundamental about inheritance, thanks for helping me get there.

This means that this PR is no longer necessary as #108

[2017-08-02 18:30] dulleh commented on #136
It seems @Kevinrob is right, sorry about the confusion. I was under the impression that when you do something like `Parent item = new Child()` it casts the `item` as a `Parent` and therefore loses any additional information that a `Child` has (it doesn't). I've learned something fundamental about inheritance, thanks for helping me get there.

This means that #137 is no longer necessary as #108 alr

[2017-08-11 13:31] Kevinrob opened #138 "Abstract JSON serializer"
This library works great! The job about JSONAPI is done. But, it's not really its responsibility to handle (de)serialization of JSON.

Mybe we can abstract this? With that, every people can choose (or implement) the (de)serialization.

Motivation: Jackson is very big (methods count) for Android...

[2017-08-15 19:49] jordanmueller opened #139 "Expected date for next release"
Hello,

Is there an expected date for an 0.8 release?  There are some fixes in develop that we'd like to use.

Thank you,

Jordan

[2017-08-17 12:36] iamareebjamal commented on #69
This is still an issue @jasminb

[2017-08-17 12:38] jasminb commented on #69
Hey @iamareebjamal, Please provide a test case that reproduces the issue.

[2017-08-17 12:48] iamareebjamal commented on #69
Sorry, it was related to Jackson not picking up JsonIgnore property. But, still I guess it's an error if I had to include the fields :

Event contains a field

`
    @Relationship("tickets")
    public List<Ticket> tickets;
`

And Ticket contains Event

[code]

[2017-08-25 05:43] SPoket opened #140 "NullPointerException after converting"
**From the server I get this JSONObject:**
`{"data":[{"type":"player","id":"e119f90c-2ee4-11e5-b333-06eb725f8a76","attributes":{"createdAt":"2017-08-24T19:03:55Z","name":"SPoket","shardId":"eu","stats":{"elo_earned_season_4":1463.6810290764283,"elo_earned_season_5":1637.6657601131212,"elo_earned_season_6":1625.7512200558283,"elo_earned_season_7":1526.3999086023439,"karmaLevel":2,"level":30,"lifeti

[2017-08-25 08:44] jasminb commented on #140
Hey @SPoket,

Your API is returning collection of elements rather than single one, use:

[code]

[2017-08-25 08:45] jasminb commented on #139
Hey @jordanmueller,

I will release the next version during the weekend.

[2017-08-25 08:49] jasminb commented on #138
Hey @Kevinrob,

I agree that cutting the dependency between the library and `jackson` would be usefull thing to do.
However, it would pose great barrier for users if they were forced to implement some kind of a bridge between their preferred JSON processor and the APIs that lib requires.

One of the things that could (potentially) be easier to do would be to give a choice to use either jackson or

[2017-08-25 08:52] #121 closed

[2017-08-25 08:52] #123 closed

[2017-08-25 08:54] jasminb commented on #126
Closing as the issue was fixed with #132

[2017-08-25 08:54] #126 closed

[2017-08-25 08:56] #134 closed

[2017-08-25 08:56] #131 closed

[2017-08-25 14:05] jordanmueller commented on #139
Thank you!

[2017-08-25 15:02] Kevinrob commented on #138
Yes, if we do that, we must implement the adapter for `Jackson` at least. With that, it's not more difficult to use the library. Just adding more flexibility for advanced users.

[2017-08-26 12:30] SPoket commented on #140
Thanks @jasminb, it helped me.

[2017-08-26 12:30] #140 closed

[2017-09-06 20:44] DominicGunn opened #141 "Original JSON for Types in a Collection."
Hey,

Let's say that I'd like to serialize a list of Books.

[code]

Is there a way for me to grab the Json (Node, bytes, string?), that was used to generate each `Book` entity, in the returned List?

[2017-09-12 01:20] razzpoker50 opened #142 "CustomIdHandler for a resource"
I was trying to implement a CustomIdHandler for my use case, where in the `id` is a combination of 2 properties. courseName and courseId.

**CourseIdhandler.java**

[code]

**Course.java**

[code]
I am trying to set the `id` in the setter and was expecting the id to be set when `CourseIdHandler` is resolved. But it is always null. I am pretty sure I got it wrong, and I am trying to find the correc

[2017-09-12 08:16] jasminb commented on #142
Hello @razzpoker50,

Lib is not using set/get methods and relies on direct field access. However your `id` field should not be `null` if it was returned from the service.

Can you provide the input you are using that produces `null id`?

[2017-09-12 10:52] jasminb commented on #139
Hey @jordanmueller, 0.8 is released. Closing the issue.

[2017-09-12 10:52] #139 closed

[2017-09-12 12:35] jordanmueller commented on #139
Thank you.

On Tue, Sep 12, 2017 at 6:52 AM Jasmin Begic <notifications@github.com>
wrote:

[2017-09-12 12:59] razzpoker50 commented on #142
Hello @jasminb
Id is not a field that is returned from the service. Even though this is a contrived example, service returns only courseId and courseName and I am trying to build a custom id by having an additional property on the model.

[2017-09-12 13:04] jasminb commented on #142
Why not simply add a get method that will do what-ever on your model instance?

[2017-09-12 13:31] razzpoker50 commented on #142
Thanks for the quick reply @jasminb. I think I just modified the setter and not the getter method. Let me check if that works for my use case. I thought customer Id handles  have to be implemented since the ID in this scenario is not an atomic entity. Also the clarification around when to use is makes sense.

[2017-09-12 16:41] razzpoker50 commented on #142
@jasminb That did the trick. Thank you for the help :)

[2017-09-12 16:41] #142 closed

[2017-09-14 14:38] jsteinbrunner opened #143 "Includes without relationships"
I'm relatively new to JSON API, and really appreciate the work you have done on this library!

We are looking to support side effects in our API and wanted to add these to the `included` section of the payload.  From what we can see, it looks like we can only add objects to `included` by defining a relationship in our model.

In some cases, there are side effects that aren't a relationship to the

[2017-09-14 19:56] jasminb commented on #143
Hello @jsteinbrunner,

Included section is intended to be used for avoiding following resource relationship. One can choose to provide those and avoid network round-trip.

What you could use instead is `meta`, see https://github.com/jasminb/jsonapi-converter#top-level-links-and-meta. This allows you to return arbitrary meta-data in the response and be able to access it.

If you define a class call

[2017-09-18 16:21] jsteinbrunner commented on #143
@jasminb
Thanks so much for the timely reply!

The JSON API spec doesn't seem to define much around side affects, so wasn't sure what the appropriate solution was. I think we can work with the `meta` solution you proposed.

Thanks for your feedback!

[2017-09-22 18:13] #143 closed

[2017-09-26 14:34] kresovic-milos opened #144 "deserialize included without relationship"
hi jasmin,
first of all, thanks for the great library!

Second, my question. How to deserialize objects in _included_ without _relationship_ object?

I am getting something like this from the server:
[code]

so, _devicesId_ refers to included object, but I can not deserialize properly with _@Relationship("devicesId")_. Any advice?

[2017-09-26 15:22] jasminb commented on #144
Hello @kresovic-milos,

In order to read the `included` section, it must be referenced via `relationship`:

[code]

In case issue has only one device (not a collection of devices):

[code]

See http://jsonapi.org/format/ for more details.

[2017-09-26 18:34] kresovic-milos commented on #144
yes, that's how it meant to be, but I was hoping I can deal it somehow, so the back-end dev doesn't have to implement relationships.
Hvala na odgovoru :)

[2017-09-26 18:34] #144 closed

[2017-10-22 10:55] reecefenwick commented on #131
@prawana-perera I don't suppose you could share how you setup the `HttpMessageConverter.java` to support deserialization of JSONAPIDocument<XYZResource>?

[2017-10-22 19:18] peavers commented on #131
@prawana-perera I'd also be very keen to see how you've done this...

[2017-10-22 22:50] prawana-perera commented on #131
Hi,

This is the approach I took to implement JSON API serialisation and deserialisation using this library:

First my controller methods were setup to consume and produce JSON API, for example a POST (create resource) request:

[code]

And obvisouly `MyResouce` is a `jsonapi-converter` `@Type` e.g.:

[code]

Then I created a `HttpMessageConverter` overriding the appropriate methods requried for s

[2017-10-23 00:26] reecefenwick commented on #131
Thanks @prawana-perera, this looks good. Although I'm having the problem where it seems the [MappingJackson2HttpMessageConverter](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/http/converter/json/MappingJackson2HttpMessageConverter.html) bean is being invoked before my custom JSONAPI HttpMessageConverter, and since MappingJackson2HttpMessageConverter.canRead() is true

[2017-10-23 00:39] prawana-perera commented on #131
Hi @reecefenwick,

Yes we got it working.

I forgot to mention, that we use media type `vnd.api+json`, so client sets the `Accept` header and we send back the `Content-Type` header with `vnd.api+json`. So for this media type our custom message converter gets invoked. The doco for the `MappingJackson2HttpMessageConverter` states
[code]
public static final MediaType MEDIA_TYPE = new MediaType("appli

[2017-10-23 02:39] reecefenwick commented on #131
@prawana-perera thanks - turns out it was just a problem of my test not injecting the message converters, I assumed it was getting picked up automatically!

[code]

[2017-10-23 03:26] reecefenwick commented on #131
@prawana-perera Have you had problems where responses have a content type of "application/vnd.api+json?charset=UTF-8" (not allowed in JSONAPI spec), even when I create my MediaType without the charset param`new MediaType("application", "vnd.api+json")`

Also I had to update the signature for `writeInternal()` to override the correct method for serialization to the client.

[code]

[2017-10-23 09:07] prawana-perera commented on #131
Hi @reecefenwick

No I have not seen `"application/vnd.api+json?charset=UTF-8" (not allowed in JSONAPI spec)`, can you please elaborate?

[2017-10-31 18:36] mulchstudio opened #146 "Allow Model classes without jsonapi-converter Annotations"
I am writing a module of code for 2 use cases and one of them is not JSON-API nor HTTP at all. To avoid depending on jsonapi-converter in this module and every module that will be used similarly, we would like to be able to use jsonapi-converter to Serialize model classes that should not have any dependency on Jackson or jsonapi-converter.

There needs to be a way to equip jsonapi-converter to eit

[2017-10-31 21:37] uddyami opened #147 "deserialization of type when two classes marked with same type"
I have classes as follows:
[code]

I use class B exclusively only during POST BODY calls ..  How do ensure my response is always read as `class A`

[2017-11-01 07:40] Leonti opened #148 "Ability to create resource identifier objects"
Hi!

Json Api standard specifies the way to update relationships via a PATCH request(http://jsonapi.org/format/#crud-updating-relationships), for example:
PATCH /articles/1/relationships/author
[code]

My entity, which is meant to be a resource identifier object looks like this:
[code]

This is being serialized into:
[code]

Would it be possible to not include empty `attributes` field?
Maybe with

[2017-11-01 10:04] thinh76 commented on #148
Something like this
`    if (attributesNode.size() == 0 && SerializationFeature.NO_EMPTY_ATTRIBUTES) {
      dataNode.remove(ATTRIBUTES);
    }
` would work,

Should i submit a PR for it?

[2017-11-03 19:54] cljk commented on #148
I'm currently using the library with PATCH-method too .... but what do you want to update if you don't want to change attributes!?
ID and TYPE are obligatory identifiers for the PATCH

[2017-11-04 01:06] jasminb commented on #148
Hello @thinh76,

Let me take a look and get back to you.

[2017-11-15 18:12] GuyPaddock commented on #130
The fix in #128 doesn't work for me in the latest `0.9-SNAPSHOT` with a `PropertyNamingStrategy` of `SnakeCaseStrategy`. I'm using the Jackson annotation method of setting it, though, which I'm guessing makes the difference.

See the [attached source file](https://github.com/jasminb/jsonapi-converter/files/1475824/User.java.zip) for an example. The example produces this output:
[code]

Interesting

[2017-11-16 03:52] GuyPaddock opened #149 "Make Included Relationships More Compatible with Builders through Jackson Databind"
Currently, JSON API Converter handles compound documents like this:
1. Construct a Java instance of the primary resource from top-level data (using Jackson Databind).
2. Process the relationships of the primary resource.
3. Construct Java instances for each included resource (using Jackson Databind).
4. Use reflection to populate each relationship field in the primary resource constructed in step

[2017-11-21 22:56] kresovic-milos opened #151 "JsonInclude.Include.NON_NULL"
Hi,

I am unsuccessfully trying to force serialization of `null` values.

I discovered that it's fixed in the `ResourceConverter` class on the line 108:
[code]

Is it possible to change this behavior or I should do it with on my own `ResourceConverter`?

Thanks,
Milos

[2017-11-22 08:50] jasminb commented on #151
Hello @kresovic-milos,

I will move the line in question so it is invoked only if external mapper is not provided. This will allow users to control mapping options and will not override user defined settings.

[2017-11-22 08:53] #151 closed

[2017-11-22 08:56] jasminb commented on #148
Hello @thinh76,

Feel free to submit a PR with a change to support your requirement.

Please make sure that you are using `tabs` for indentation and that you add unit tests to cover the added changes, also make sure that all tests pass (mvn clean install).

[2017-11-22 09:00] jasminb commented on #147
Hello @uddyami,

One simple  solution for your problem is to have two different instances of the `ResourceConverter`, use one for serialising requests sent to the server and another one for reading responses.

[2017-11-22 09:08] jasminb commented on #149
Hello @GuyPaddock,

Current state of the lib is that is is coupled with `Jackson`, on of the long term goals is to provide an serialisation/deserialisation abstraction layer and allow users to provide different JSON processing implementations.
What this means is that making changes that are tightly coupled with current JSON lib will probably be `throw away` work.

[2017-11-22 15:29] GuyPaddock commented on #149
My past experience has told me that if the whole solution has been written on top of Jackson, I would think it unlikely you're going to be abstracted it away from Jackson without throwing away a lot of the existing lib. Your mileage may vary, of course, but if Jackson is doing well enough for this use case, it seems excessive to abstract.

[2017-11-22 16:54] uddyami commented on #147
sounds good! thanks

[2017-11-22 16:54] #147 closed

[2017-11-22 17:15] kresovic-milos commented on #151
great!
thank you.

[2017-11-22 21:45] shyamalprasad commented on #130
@GuyPaddock sorry, I just got to this. The problem you identify is real, but I'd suggest opening a new issue to track it (it actually pre-dates #130 in some way).

Here is what is going on: the conversion is always executed using the object mapper in the ResourceConverter. The naming strategy used to remove relationship subtrees uses the naming strategy of this object mapper and **not** the naming

[2017-12-05 04:44] cedricwang2 opened #154 "500 and nullpoint be thrown when missing "type" in payload"
The lib is using convert the request but when "type" is missing in payload.
It throws null point exception.
Can it throw 400 and checked exception while "type" is missing?

[2017-12-05 14:49] jasminb commented on #154
Hello @cedricwang2,

Please provide example payloads and configuration/methods used.

[2017-12-05 22:49] cedricwang2 commented on #154
This is the payload we use.
{
  "data": {
    "id":"123e4567-e89b-12d3-a456-426655440000",
    "attributes": {
      "idfv": "idfv",
      "geoLocation": "location",
      "vpnEnabled": "true"
    }
  }
}

Resource converter
`    @Bean
    public ResourceConverter resourceConverter(ObjectMapper objectMapper,
                                               @Value("${rest-starter.jsonapi.models}") St

[2017-12-06 04:44] cedricwang2 commented on #154
`    private String createIdentifier(JsonNode object) {
        JsonNode idNode = object.get("id");
        String id = idNode != null ? idNode.asText().trim() : "";
        if (id.isEmpty() && this.deserializationFeatures.contains(DeserializationFeature.REQUIRE_RESOURCE_ID)) {
            throw new IllegalArgumentException("Resource must have an non null and non-empty 'id' attribute!");
        }

[2017-12-12 13:10] NullVoxPopuli commented on #90
@peavers so what was the fix?

[2017-12-12 13:34] NullVoxPopuli opened #156 "Is there a way to validate a payload and throw an appropriate error if the jsonapi document isn't valid?"
I think this would be helpful for debugging.

[code]

[2018-01-10 14:00] Masquerade0097 opened #158 "Vocabulary and Grammatical errors in README.md"
There are several errors in the README.md file which needs to be corrected.

[2018-01-11 20:29] NullVoxPopuli opened #159 "How to use methods as json fields?"
This is specifically for wanting to render iso8601 datetime fields.

such as:
[code]

[2018-01-11 21:10] NullVoxPopuli opened #160 "Example App?"
I'm really struggling with how to figure out how to have serializer classes, and how my entities will map to them without causing n+1 issues all over the place.

(I'm also newish to java), but there needs to be some way to lazily evaluate java fields if I can't use methods for jsonapi fields.

like, I have this:

[code]

and

[code]

[2018-01-11 22:07] NullVoxPopuli opened #161 "Compound id?"
How do I use a compound id?

say a resource doesn't have a single primary key, but is a compound primary key?

[2018-01-12 22:08] NullVoxPopuli opened #162 "include string does not work with nested models? "child.grandchild""
Looking at the code for handling the include string:

[code]

the `.` character isn't dealt with -- it's important for for handling join relationships..

Let's say you have a user, organizations, and users_organizations -- for your user, you'd want to include `'users_organizations.organizations'`. But the `.` causes neither of the relationships to be rendered.

[2018-01-16 06:19] #158 closed

[2018-01-21 21:54] marceloverdijk commented on #162
I'm also looking at using a `include` query parameter.
Where is the code you mentioned? I cannot seem to find it... https://github.com/jasminb/jsonapi-converter/search?utf8=%E2%9C%93&q=includeString&type=

[2018-01-22 10:28] marceloverdijk opened #164 "How to set top level meta data?"
I noticed the top level meta data is defined as:

[code]

Is there a reason why the value is `?` and not e.g. `Object`?

How should I add a key/value to the map?
Note the meta map can be null as well.

What I'm doing now is:

[code]

but I think this could be simplified to something like:

[code]

but this won't work as `getMeta()` will return a `null` map and also it does not accept `PageInfo` as

[2018-01-22 13:09] marceloverdijk opened #165 "@RelationshipLinks also serialized to attributes"
E.g. taking this resource:

[code]

is serialized to:

[code]

As you can see the relationships nicely contain the links and the data.

But the `attributes` now also contains a `homeworld_links` which is not correct.

I can easily working around it by adding a `@JsonIgnore` to the `homeworldLinks` like:

[code]

I think the lib should do this automatically or am I doing something wrong?

Note the

[2018-01-22 16:33] marceloverdijk commented on #165
The problem is here: https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/github/jasminb/jsonapi/ResourceConverter.java#L857

In my case the `attributesNode` contains the field `homeworld_links ` (as my object mapper is configured with snake case).

But the mentioned line is trying to remove `homeworldLinks` as that is the name of Java bean property it found.

[2018-01-23 12:13] jasminb commented on #164
Intention here was to guard state but as I looked at it now, there is way to modify state by `getMeta()` and than performing mutations on returned `Map`.

I don't have anything against introducing a change where `getMeta()` will lazily initialise internal state and return it in case its `null`.

[2018-01-23 12:18] jasminb commented on #162
@NullVoxPopuli I am not aware of nested relationship support in jsonapi specification.

[2018-01-23 12:34] marceloverdijk commented on #165
Closed as #166 is merged.

[2018-01-23 12:34] #165 closed

[2018-01-23 12:46] marceloverdijk commented on #164
Do you agree making it `private Map<String, Object> meta;` then?
Instead of the wildcard `Map<String, ?>` as it's not so useful.

If so I can make a PR lazily initialising the meta and adding convenient method like `addMeta(String, Object)`.

Let me know.

[2018-01-23 12:51] jasminb commented on #164
Sounds good.

[2018-01-23 12:58] marceloverdijk commented on #164
OK will do!

On Tue, Jan 23, 2018 at 1:51 PM, Jasmin Begic <notifications@github.com>
wrote:

[2018-01-23 14:00] NullVoxPopuli commented on #162
All libraries i've used (until i started using java libs) have supported nested includes.

From the specification:

[2018-01-23 15:09] marceloverdijk commented on #162
Does jsonapi-converter support writing a `JSONAPIDocument` with defined includes per request / call to write method? I cannot seem to find that.

[2018-01-28 12:17] marceloverdijk opened #168 "Updating resources via PATCH"
When updating a resource by sending a JSONAPI document via a HTTP PATCH, is it possible to determine which fields were not part of the request body?

E.g. if I don't include the `person` `first-name` in the the payload it should not be updated.
As `JSONAPIDocument<Person>` `get` returns a `Person` it is not possible to see if `first-name` was actually send as `null` (meaning updating it to `null`)

[2018-02-11 09:10] Alexander-Krause commented on #96
Hi @jasminb, this is possible when reading or writing. But can I save this in a ResourceConverter instance as well?

[2018-02-11 15:28] Alexander-Krause opened #169 "Deserialize Error object"
Hello,

there is a [test](https://github.com/jasminb/jsonapi-converter/blob/develop/src/test/java/com/github/jasminb/jsonapi/SerializationTest.java#L106) that shows how you can serialize an error object.

However, I couldn't find a way to convert a stringified error object back to an actual Error Object Type. Is this possible?

[2018-02-12 09:04] Alexander-Krause commented on #169
Use a Jackson ObjectMapper, e.g.
[code]

[2018-02-12 09:04] #169 closed

[2018-02-19 20:04] marceloverdijk commented on #130
I think this one is fixed as part of #165 / #166.

[2018-02-23 17:28] NicolaIsotta opened #170 "UnrecognizedPropertyException when reading an errors response."
Response I'm using to test:
`{"jsonapi":{"version":"1.0"},"errors":[{"status":404,"title":"An error"}]}`
When reading this response with a ResourceConverter, an exception is generated:
[code]

[2018-02-28 16:17] MarcoCapoferri opened #171 "[0.8.1] Retrofit requestBodyConverter uses wrong ResourcesConverter"
Hi guys i'm using jsonapi-converter 0.8.1 and i'm providing a different ResourceConverter for serialization and deserialization.

I found an issue in JSONAPIConverterFactory at line 89 ( https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/github/jasminb/jsonapi/retrofit/JSONAPIConverterFactory.java )

This is the current wrong line:
`if (retrofitType.isValid() && deserializ

[2018-02-28 16:28] jasminb commented on #171
Please feel free to open up a pull request and fix the issue.

[2018-03-05 13:23] dementiacs commented on #131
@prawana-perera are you able to post a full code example of your JSONApi HttpMessageConverter for consuming JSONApi data?

[2018-03-05 13:43] jasminb commented on #170
You should be able to instantiate converter instance using configured object mapper which will ignore unknown properties if needed.

[2018-03-05 21:22] #171 closed

[2018-03-06 11:41] NicolaIsotta commented on #170
Yes, configuring an ObjectMapper avoids the exception.
I would handle it natively the `jsonapi` object since it's is [in the specification](http://jsonapi.org/format/#document-top-level), but that's just my 2 cents.

[2018-03-12 13:31] budius opened #174 "JSONAPIConverterFactory uses types from deserializer to serialize object"
During data serialization (aka `requestBodyConverter`) the JSONAPIConverterFactory is using `deserializer.isRegisteredType` and the uses the `serializer` for the `JSONAPIRequestBodyConverter`.

This breaks the ability to properly handle outgoing and incoming data differently.

[2018-03-12 13:36] budius commented on #174
So I was already cloning (https://github.com/sensorberg-dev/jsonapi-converter) was gonna fix and open a PR when I noticed it was fixed on the last commit https://github.com/jasminb/jsonapi-converter/issues/171 - https://github.com/jasminb/jsonapi-converter/commit/a68ff12b62744963485323cdcda294a062dba990

any ETA?

[2018-03-12 13:36] #174 closed

[2018-03-12 13:59] jasminb commented on #174
Hey @budius, there are few more things that I'm considering before creating a minor release (should take a week). In meanwhile you can use 'SNAPSHOT' version.

[2018-03-15 22:29] sobakasu commented on #164
is there any way to set meta at the top level when using retrofit?

[2018-03-20 20:48] bmin commented on #162
Any plan to provide this functionality sometime soon? I also need it. and planning to hack a bit your code. I may share with you, if task is not already planned or in progress.

[2018-04-02 07:55] babyblue1314 opened #176 "ProGuard causes Crash."
When using ProGuard in the file **build.gradle**:
[code]
I got a crash:
[code]
However, when I don't use ProGuard in the file **build.gradle**:
[code]
Everything works fine.

I tried to add the following code to the file **proguard-rules.pro**:
`-keep public class com.github.jasminb.** {*;}`
but it doesn't work.

Current Version: com.github.jasminb:jsonapi-converter:0.6

[2018-04-02 08:24] jasminb commented on #176
Hey @babyblue1314,

Looks like pro-guard messes up annotations, I would try to explicitly remove annotation removal.

There are many questions like this one on SO, like https://stackoverflow.com/questions/30078380/proguard-removing-annotations-in-android-application.

[2018-04-03 08:56] babyblue1314 commented on #176
@jasminb Thanks for your quick reply!
I tried the method mentioned in the above URL, but the issue still happens.
Here is what I have done in the file **proguard-rules.pro**:
[code]

[2018-04-03 12:06] Kevinrob commented on #176
@babyblue1314 For my project, I have this rules:

[code]

[2018-04-06 15:09] Kevinrob commented on #176
@jasminb PR #177 😉

[2018-04-10 10:57] dementiacs opened #178 "NullPointerException on missing 'type' attribute"
When parsing Json that has no 'type' attribute then a NullPointerException is thrown as a check for null is not performed as it is for the 'id' attribute. (ResourceConverter.java line 594).

[2018-04-10 22:16] jasminb commented on #176
Closing as issue was resolved and README updated with helpful information.

[2018-04-10 22:16] #176 closed

[2018-04-17 14:42] marceloverdijk opened #182 "When link has no meta it should render link as shortened version ("rel": "href")"
Currently links are rendered as:

[code]

and without meta as:

[code]

or in case https://github.com/jasminb/jsonapi-converter/pull/181 is accepted as:

[code]

Still not perfect. In case no meta is available I think rendering it to the below sample would be preferable:

[code]

This is also done like this in the jsonapi specs.

We could solve this by writing a custom `JsonSerializer` for the `Li

[2018-04-17 15:13] marceloverdijk opened #183 "Ordering of resource properties"
Resource properties are ordered like:

[code]

I think it would be nicer to order these properties as:

[code]

This is also the order used in the jsonapi specification.

If you agree I can make a PR for this.

[2018-04-17 19:11] jasminb commented on #182
Quick thought, maybe this could be solved with meta-aware link getters in combination with disabling null value serialisation?

[2018-04-17 19:17] marceloverdijk commented on #182
In general I *do* like null properties to be serialized, especially for the `”attributes”` element of the resources.

But for the core jsonapi elements I don’t think it’s usefull, like the `”meta”` element.
And that’s also why I would prefer the shorthand version of the link if possible.

PS: I know I’m not consistent regarding serializing null values here 😇 (but at least it’s how I would prefer t

[2018-04-17 21:22] marceloverdijk opened #185 "Support for sparse fieldsets and user-defined inclusion of related resources"
As per the jsonapi spec how to handle [sparse fieldsets](http://jsonapi.org/format/#fetching-sparse-fieldsets) and user-defined [inclusion of related resources](http://jsonapi.org/format/#fetching-includes) is documented.

Would you consider adding these to jsonapi-converter?
If you are interested we can discuss this first or I can make a PR.

[2018-04-23 19:34] marceloverdijk opened #186 "`@RelationshipLinks` wihtout `@Relationship` not working"
I'm trying to create a resource containing a relationship with links.
Note that this particular relationship has no `data` and `meta` which is is valid according to the spec as only 1 of the three (`links`, `data`, or `meta`) is required.

E.g.

[code]

will output:

[code]

Note the (invalid) `books-links` element under `attributes`.
I would have expected a `book` `relationship`.

Trying to worka

[2018-04-25 03:02] ntyazid opened #189 "[Annotations] Multiple Type To Same Object"
ex: one object but have data with different type
"testable": {
	"data": {
            "type": "equipmenttests",
            "id": "9d393-sd9ss-s9dsd"
   }
       "data": {
            "type": "equipmenttests",
            "id": "9d393-sd9ss-s9dsd"
    }

}

Please help me

[2018-04-25 07:57] marceloverdijk commented on #189
@ntyazid can you elaborate more what you are trying to do? (and also format the json)

[2018-04-25 15:05] marceloverdijk commented on #164
Closing this as per commit #167

[2018-04-25 15:05] #164 closed

[2018-04-25 15:06] marceloverdijk commented on #183
Closed as fixed by PR #187

[2018-04-25 15:06] #183 closed

[2018-04-25 15:06] marceloverdijk commented on #182
Closed as fixed by PR #188

[2018-04-25 15:06] #182 closed

[2018-04-27 08:05] jasminb commented on #185
Hey @marceloverdijk, let me think on this a bit. At first thought it looks simple enough. Im bit concerned about how one would build `Fieldsets` for cases where there is some heavy nesting going on.

On the other hand, it could be really useful when using the lib server side to simply be able to create `Fieldset` object from `URL`params.

[2018-04-27 08:09] marceloverdijk commented on #185
I will provide an example later (not behind laptop atm).
The `Fieldsets` class should indeed contain some static method to parse a query param.

[2018-04-30 09:15] marceloverdijk commented on #185
@jasminb Could you maybe have a look at https://github.com/marceloverdijk/jsonapi-converter/commit/abaa618c0f86157425d0d746a887a6e5030869d6 ?
This provides functionality for sparse fieldsets and user-defined inclusion of related resources as per the JSON:API spec.
I still need to write tests for it, but feedback would be welcome already.

[2018-04-30 14:50] jasminb commented on #185
Will take a look as soon as I can, will update you when I do.

Get Outlook for iOS<https://aka.ms/o0ukef>

On Mon, Apr 30, 2018 at 11:15 AM +0200, "Marcel Overdijk" <notifications@github.com<mailto:notifications@github.com>> wrote:

@jasminb<https://github.com/jasminb> Could you maybe have a look at marceloverdijk/jsonapi-converter@abaa618<https://github.com/marceloverdijk/jsonapi-converter/commit

[2018-05-03 21:39] workmanw commented on #168
@marceloverdijk We also have this problem. What we ended up doing was overriding the Jackson Mapper's `treeToValue` public function and we store this data on a thread local so it's accessible later. This is a less than ideal solution and we'd really like to get some help to make this better. I'd be happy to take on the work, if we could come up with a sensible solution.

I honestly don't know what

[2018-05-03 22:13] jasminb commented on #168
One way to tackle this would be to store raw `Node` that was deserialised into model as an attribute in `JSONAPIDocument`.

New method could be added than (to `JSONAPIDocument` that takes `T`, eg:

[code]

Where `toPatch` is entity read from data store and result is patched state.

Patching could be achieved by converting `toPatch` into `Node` and simple apply incoming  data to it where rules are

[2018-05-03 22:18] marceloverdijk commented on #168
I don’t need a patch at the moment (get only api so far), but I would look into this approach: https://github.com/FasterXML/jackson-databind/issues/578#issuecomment-58443025

[2018-05-03 22:32] workmanw commented on #168
@jasminb That is an interesting idea. You'd have to also keep the included nodes too though, so it may be a less trivial interface.

-----------

@marceloverdijk Yea we've considered this approach too. The problem is it requires you to be in control of the model definition that you're mapping and it does add quite a bit of boilerplate.

I was trying to figure out if there was a way to make this wo

[2018-05-05 10:59] RezaMortazavi commented on #120
hi..i have this problem too..but the thing is it happens after adding proguard.

this is the error:
`Caused by java.lang.InstantiationException
java.lang.Class<com.a.a.a.o> has no zero argument constructor`

 this is my proguard rule:

[code]

what am i missing?

[2018-05-14 17:16] dementiacs opened #191 "Difficulty Serialising a List of objects"
Consider this snippet.

[code]
How do I then serialise that into a String?

when I try

`bytes = converter.writeDocument(document);`

I get an exception

com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to com.fasterxml.jackson.databind.node.ObjectNode

What am I doing wrong?

Fault itself is a simple class with id, type and a few attributes and serialises fine when it is a single obje

[2018-05-24 02:23] VW-LAMANDO opened #192 "How to convert the specific json api"
Hi,

I met one issue, i need to request to webserver with JSON API.
request type shows below
{
    "data":{
         "type":"something"
    }
}

I define the POJO.
after i define like below
@Type("something")
@JsonIgnoreProperties(ignoreUnknown = true)
public class Something {
    @Id
    public String id;
}

the serialized string shows below:
{
	"data": {
		"type": "something",
		"attributes": {}

[2018-05-24 21:57] peavers commented on #192
You can't as that would break the spec. See the docs for examples http://jsonapi.org/format/#document-top-level

[2018-05-31 20:10] uddyami commented on #191
I think it should be `converter.writeDocumentCollection(document)`

[2018-06-01 03:08] peavers commented on #191
Here is a helper method I use, just pass in the list.

[code]

[2018-06-05 09:25] budius opened #194 "Add ProGuard rule on README for ResourceIdHandler"
After much debugging and having issues, I've got the point to add the following rule my Proguard:

[code]

This could be used just on the built-in `StringIdHandler` for my project, but this rule seems to better cover the cases. Without it the application would keep crashing on [this line of the ConverterConfiguration](https://github.com/jasminb/jsonapi-converter/blob/develop/src/main/java/com/gith

[2018-06-30 08:29] jasminb commented on #130
Closing as issue was fixed.

[2018-06-30 08:29] #130 closed

[2018-06-30 08:29] jasminb commented on #194
Note added to README.md, closing the issue.

[2018-06-30 08:29] #194 closed

[2018-06-30 08:31] jasminb commented on #191
Closing as advice for proper lib usage was provided in comments.

[2018-06-30 08:31] #191 closed

[2018-07-02 02:46] peavers commented on #47
Since the Katharsis has now been abandoned, this can probably be closed.

[2018-07-02 07:38] #47 closed

[2018-07-06 15:14] romanticjo commented on #192
Sure you can:

http://jsonapi.org/format/#document-resource-objects
[code]

[2018-07-09 20:12] romanticjo opened #198 "Comparing 2 JSONApiDocuments documents"
Consider the case where a JsonNode represents the same document as a JSONAPIDocument with the minor difference that the 'included' attribute array have different ordering between the two documents. From a value perspective, these documents are different, however they could be considered equivalent if the ordering of the 'included' array isn't specified or is produced in a non-deterministic fashion

[2018-07-10 00:00] romanticjo commented on #198
Here is a sample patch that provides for both observations.

https://github.com/romanticjo/jsonapi-converter/commit/8eb4243ef50c8b22a08080a54d1d75ce3d7473eb

It includes:
1. Expose the JsonNode from ResourceConverter
2. Add a configuration option to custom sort the order of included resources.
3. Utility method that compares two JsonNodes for equivalence while ignoring the ordering within the 'inc

[2018-07-10 00:06] peavers commented on #198
I'd be interested out of pure curiosity as what your user case is for this?

[2018-07-10 20:10] romanticjo commented on #198
The main use-case is to provided a strict ordering of the included tag serialized by a JSONAPIDocument.  This is desirable to allow API designers to provide specifications around the ordering inside the included tag.

The second use case is about efficiency. To compare two JsonNodes representing a jsonapi payload, the user of JSONAPIDocument needs to serialize to a byte[] and deserialize into a Js

[2018-07-12 09:31] DrPierlu commented on #138
Hi, adding the possibility of using gson would be a really appreciated and useful feature

[2018-07-25 17:48] youngliangzhang opened #199 "Is there a way to ignore filed when parsing?"
I added one map field to the class for using in local. But I got json parsing error even though there is no this name field in api response.
This is error message: "Can not find a (Map) Key deserializer for type [simple type, class ***]."
So I need to ignore this field when parsing.

[2018-07-25 18:19] #199 closed

[2018-09-18 06:50] oliverlj commented on #160
You can view an example I've build with spring boot
https://github.com/oliverlj/json-api-converter-spring-boot-example

[2018-10-16 21:57] bradroid opened #202 "Setting meta to JsonApiDocument"
When my app is running meta serialization & mapping works fine. In tests however, `jsonApiDocument.getMeta` always returns null. I simplified the tests to isolate the problem, can you please check it out?
The last assertion fails, myMeta val is null.

[code]

[2018-10-17 08:49] jasminb commented on #202
Here is the imlementation of the method you are using:

[code]

Doc object has its deserialiser instance == null, use a proper constructor and it should work.

[2018-10-17 09:40] bradroid commented on #202
Thanks very much, I see that I need to construct JSONAPIDocument by passing deserializer (ObjectMapper) in as a second argument.

[2018-10-17 09:40] #202 closed

[2018-10-17 20:15] svasquezm opened #203 "Deserialize a complex object"
Hi everyone.

I've tried to deserialize a complex object from a server response like this:
[code]

Kotlin classes I have are
[code]

I want to store `summary` field as something like this
`"summary.task_management.tasks.total:187;summary.task_management.tasks.done:34;..."`

But at compile this, I got this error:
[code]

Any ideas to handle this `summary` field as I want?

Thanks a lot.

[2018-11-09 02:51] ndoyle24 commented on #138
I would love to see a GSON adapter as well. I'm working on migrating a large codebase and it would be great to be able to reuse a lot of custom converters, etc, rather than having to convert it all to Jackson.

[2018-11-19 16:13] vpavic opened #205 "Make Retrofit dependency optional"
The Retrofit dependency should be made optional as the core of this library does not depend on it.

[2019-02-07 13:50] manish-kevre commented on #186
I am having same issue, There has to be some neat way to ignore data part of relationship.

[2019-02-07 13:55] Radiokot commented on #186
Unless noone wants to fork and fix the issue I suggest to create and register a resource like `DummyResource` with `dummy-resurce` type or something like that. Then create a field of this resource type with `@Relationship` annotation and just keep it private, without any getters and setters. Having `@Relationship` field in the model will allow Converter to resolve `@RelationshipLinks`  with the sa

[2019-02-07 23:40] jasminb commented on #186
Will take look to see what can be done.

[2019-02-12 12:38] manish-kevre commented on #162
I also need that fix, till then i have changed include string to be free from '.' . Also the solution should solve issue which arises when there is a include for same type object residing at different level in includes. unless we name both such relationship different we cannot serialize it.

[2019-03-11 20:12] jsteinbrunner commented on #100
@jasminb
I know this is an old comment, but I ran across it when searching about a related issue/question so wanted to add on to it.

In your test above where you have an `Author` with `Article` relationships and `Article` with `Author` relationships, is it valid when they refer to each other to have the top level resource appearing in the `included:` section. For example, using your test, I get t